{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Who can I foster?
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
Who can I foster?
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Who can I foster?</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

<div class="text">
    <p class="lead">Children and young people of all ages need foster carers and we’ll ask you if you have an age preference as part of your assessment.</p>
    
    <p>We currently have a shortage of foster carers for the following groups of children and young people:</p>

    <ul class="list list-bullet">
        <li>young people aged 11 -17</li>
        <li>large sibling groups</li>
        <li>children and young people who are disabled and/or have complex needs</li>
        <li>parent and child</li>
        <li>unaccompanied asylum seeking children</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>Please <a href="#contact">contact us</a> if you have any questions. We want to hear from you whatever age of child you are interested in fostering.</p>
    </div> 

    <p>The different kinds of fostering we offer are:</p>

    <ul class="accordion" data-module="accordion">
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Short term</a>
                    <div style="display: none;" class="content-block">
                        <p>This can range from an overnight stay up to two years. Carers provide a safe and secure place to live while we try to reunite the child with their family or find a permanent family.</p> 
                        <p>The age range can be from babies and infants up to teenagers.</p>
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Long term</a>
                    <div style="display: none;" class="content-block">
                        <p>This is usually for older children who can’t live at home and they will stay with you until they leave care. They’ll often have contact with their birth families which carers need to support.</p> 
                                                     
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Emergency</a>
                    <div style="display: none;" class="content-block">
                        <p>Children can need a safe place in an emergency with no notice and at any hour. Carers look after a child briefly before they’re moved to another foster carer or back to their families.</p>
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Respite</a>
                    <div style="display: none;" class="content-block">
                        <p>Respite care is fostering of different ages and various needs for a short period of time, from a weekend up to two weeks. Respite carers look after children whilst their usual carers aren’t available, or to give them a break.</p> 
                        <p>You’ll be paid for the time you care for the child.</p> 
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Support care</a>
                    <div style="display: none;" class="content-block">
                        <p>Short breaks provide support to children living at home with their families. Children will spend one to three night stays with a foster carer every few weeks.</p>
                        <div role="note" aria-label="Information" class="text-highlight">
                        <p>We currently have a shortage of foster households with a male adult carer.</p>
                        </div>
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Caring for disabled children</a>
                    <div style="display: none;" class="content-block">
                        <p>We are looking for people who are able to care for children with a wide range of additional needs including autism, learning disability, physical impairments and health needs.</p> 
                        <p>While we are recruiting carers for children with a range of needs, we would especially like to hear from people who could accommodate a child in a wheelchair. You would need to be willing to have adaptations made to your home if necessary.</p>                              
                        <h3>Short Breaks</h3>
                        <p>We also need carers with at least one weekend every 6 weeks to share with a child for a short break. Our short breaks carers offer a fun environment for the child; an opportunity to enjoy new experiences and activities, to build new relationships, be included in a new family, and increase their independence.</p>                               
                    </div>
            </li>
            
            
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Supported lodgings </a>
                    <div style="display: none;" class="content-block">
                        <p>Providing emotional and practical support to young people aged 16+ who have been in care or homeless to help them learn to live independently.</p>  
                        <p>You would be able to work full time and are paid an allowance for every young person.</p>                                                       
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Parent and child</a>
                    <div style="display: none;" class="content-block">
                        <p>this involves showing a parent, usually young themselves, how to be a good parent and care for their child.</p>
                        <p>A foster carers input helps decide whether the parent should be allowed to continue caring for their child or by somebody else.</p> 
                                
                        
                    </div>
            </li>
            
            
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Rent a room</a>
                    <div style="display: none;" class="content-block">
                        <p>You would be able to offer accommodation and meals to a young person aged 16+. The scheme helps young people learn how to live independently in a safe environment.</p>
                        <p>Rent a Room providers receive individual support but are not registered as foster carers.</p>
                        
                    </div>
            </li>
            </ul>

    
    <div role="note" aria-label="Information" class="text-highlight">
            <p>Please <a href="#contact">get in touch with us</a> if you have any questions about the different types of fostering.</p>
    </div>
</div>

{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% include "includes/foster4leeds2017/panel-register.html" %}
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}