{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Who can I foster?
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
Who can I foster?
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Who can I foster?</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

<div class="text">
    <p class="lead">Children and young people of all ages need foster carers, and we’ll ask you if you have an age preference as part of your assessment.</p>
    
    <p>We’re currently seeking foster carers for:</p>

    <ul class="list list-bullet">
        <li>young people aged 11 -17</li>
        <li>large sibling groups</li>
        <li>children and young people who are disabled and/or have complex needs</li>
        <li>parent and child</li>
        <li>unaccompanied asylum seeking children</li>
    </ul>

    <p>The different kinds of fostering we offer are:</p>

    <ul class="accordion" data-module="accordion">
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Short term</a>
                    <div style="display: none;" class="content-block">
                        <p>This can range from an overnight stay up to two years. Carers provide a safe and secure place to live while we try to reunite the child with their family or find a permanent family.</p> 
                        <p>The age range of children can be from babies and infants up to teens.</p>
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Long term</a>
                    <div style="display: none;" class="content-block">
                        <p>This is usually for a number of years for children who can’t live at home. They’ll often have contact with their birth families and carers need to support contact.</p>  
                        <p>Long term fostering is usually for older children and they will stay with you until they leave care.</p>
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Emergency</a>
                    <div style="display: none;" class="content-block">
                        <p>Children can need a safe place in an emergency with no notice and at any hour. Carers look after a child briefly before they’re moved to another foster place or back to their families.</p>
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Respite</a>
                    <div style="display: none;" class="content-block">
                        <p>This is fostering for a specific period of time, usually from a weekend up to two weeks. Carers look after children whilst their own short or long term carers aren’t available or to give them a break.</p> 
                        <p>Children from different ages and with various needs will be looked after and you’ll be paid for the time you care for the child.</p> 
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Support care</a>
                    <div style="display: none;" class="content-block">
                        <p>These provide support to children living at home with their families. Children will spend one to three overnight stays with a foster carer every few weeks. We’re particularly interested in households where there’s a male adult role model carer.</p>
                        <p>Short breaks can be for both younger and older children.</p>
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Caring for disabled children</a>
                    <div style="display: none;" class="content-block">
                        <p>This is for children who may have physical, sensory or learning disabilities. Our team works with disabled children, their families and carers in supporting them in offering new experiences for the child.</p> 
                                
                        <p>We are looking for people who are able to care for children with a wide range of additional needs including autism, learning disability, physical impairments and health needs. While we are recruiting carers for children with a range of needs, we would especially like to hear from people whose home can accommodate children who are wheelchair users (after adaption).</p> 
                                
                        <p>We also need carers with at least one weekend every 6 weeks to share with a child for a short break. Our short breaks carers offer a fun environment for the child; an opportunity to enjoy new experiences and activities, to build new relationships, be included in a new family, and increase their independence.</p>
                                
                        
                    </div>
            </li>
            
            
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Supported lodgings </a>
                    <div style="display: none;" class="content-block">
                        <p>The role is ideal for people who like to support teenagers but can’t commit to full time fostering.</p>  
                        <p>You will be able to provide a room and shared facilities for a young people aged 16 to 21 years old (25 if in further education or with additional needs) who has been in care or homeless. You will give emotional and practical support to help a teenager learn to live independently.</p>
                        <p>Carers can work full time and are paid an allowance for every young person they take.</p>
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Parent and child</a>
                    <div style="display: none;" class="content-block">
                        <p>this involves showing a parent, usually young themselves, how to be a good parent and care for their child.</p>
                        <p>A foster carers input helps decide whether the parent should be allowed to continue caring for their child or by somebody else.</p> 
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Teenager plus</a>
                    <div style="display: none;" class="content-block">
                        <p>this is specific care for young people aged 13 or over. Foster carers will need to have experience in working with teenagers.</p>
                        <p>Currently, there aren’t enough carers for young people and the number of teenagers needing care is increasing.</p> 
                        <p>If you’re interested in caring for young people, you’ll need to tell us this when you <a href="#contact">contact us</a>.</p> 
                                
                        
                    </div>
            </li>
            
            <li>
                <div class="accordion-drawer">
                    <a href="#" class="header"><span class="sr-only">Click to expand </span>Rent a room</a>
                    <div style="display: none;" class="content-block">
                        <p>TBC.</p>
                        
                    </div>
            </li>
            </ul>

    
    <div role="note" aria-label="Information" class="text-highlight">
            <p>Please <a href="#contact">get in touch with us</a> if you questions about any of the above types of fostering.</p>
    </div>
</div>

{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}