{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
Leeds mic Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}leedsmic/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsmic/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
  <hr class="ms-rteElement-spacer" />

<div class="groupPromo">
  <div class="listWebpart">
    <ul>
      <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/leedsmic/images/icon-person.png"><h3>Need money or dept advice?</h3></a>
      </li> 
            <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/leedsmic/images/icon-calculator.png"><h3>Making savings, reducing bills</h3></a>
      </li> 

           <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/leedsmic/images/icon-pig.png"><h3>Need a loan?</h3></a>
      </li> 
      

    </ul>
    <div class="clearfix"></div>
  </div>
</div>


<p class="lead">
Leeds Mic
</p>
<p><strong>Don't know where to turn for help?</strong></p>
<p>If you are worried about money, in debt, struggling to pay bills,&nbsp;or thinking of&nbsp;taking out a loan you have come to the right place. </p>
<p>The Leeds Money Information Centre helps people in Leeds with money problems.&nbsp;There&nbsp;are details of all the organisations and charities across Leeds providing <strong>free</strong> <strong>and independent</strong> debt advice, including the Citizens Advice Bureau, StepChange and many more. Depending on&nbsp;your preference you can&nbsp;either contact them by phone, online or even face-to-face. If you decide you do want a loan there are lower-interest alternatives to payday loans available with more affordable loans from Leeds Credit Union.&nbsp;<br><br></p>
<p><strong>Victim of a Loan Shark?</strong></p>
<p>Leeds City Council and the Illegal Money Lending team have released a short film featuring a Leeds man who suffered at the hands of local loan sharks and is now living a new life away from threats and poverty. He decided to tell his story to encourage other people who have borrowed from illegal lenders to come forward for help.</p>
<p>To report a loan shark call the 24/7 confidential hotline on <strong>0300 555 2222&nbsp;</strong></p>
<p>Text ‘loan shark + your message’ to 60003&nbsp;</p>
<p>Email <a href="mailto:reportaloanshark@stoploansharks.gov.uk" title="reporting a loan shark email address"><strong>reportaloanshark@stoploansharks.gov.uk</strong></a>&nbsp;</p>
<p>Private message on <a href="http://www.facebook.com/stoploansharksproject" title="Facebook page for reporting loan sharks"><strong>www.facebook.com/stoploansharksproject&#8203;</strong></a></p>
<p>Report on <a href="http://www.stoploansharks.co.uk/"><strong>http://www.stoploansharks.co.uk/</strong></a></p>
<br>
<p><strong>Support for Gambling Related Harm</strong></p>
  
<p>GamCare and NECA provide a range of support services for those suffering from gambling related harm – click <a href="/c/Pages/leedsmic/Benefits-and-debt-advice.aspx"><strong>here</strong></a> for further information.</p>



<div><br></div>
<p><strong>Help with Managing your Money</strong><br></p>
<p>All the information on this website is available in our document&nbsp;<strong><a href="/c/Release%20Documents/Help%20with%20managing%20your%20money%20July%202016%20lo%20res.pdf">&#8203;Help with managing your money (PDF 624kb)</a>&nbsp;</strong>.&nbsp;</p>
<div><a href="/docs/Help%20with%20managing%20your%20money.pdf" title="Help with managing your money PDF"><img src="http://www.leeds.gov.uk/c/PublishingImages/mic/managing-your-money.jpg" alt="managing your money PDF document" style="margin: 5px;"></a><br></div>
<h2><strong>Money information centres map</strong></h2>
<p>All the Money information centres are available to view via our <strong><a href="https://leedscc.maps.arcgis.com/apps/MapTools/index.html?appid=04980aacc60a41bc884a42522864a5f1">interactive map&#8203;</a></strong>. For information on how to use this map, click on the 'Details' tab on the top left of the map page.</p>


  <hr class="ms-rteElement-spacer" />
{% endblock %}



{% block sectionOneRightHandColumn %}




<div class="">
  <h2>Testimonials from people helped by Leeds Credit Union and Citizens Advice Leeds</h2>
  <div class="inner">
    <p></p>
    <div class="ExternalClass75BE4CE46E8C49D2A29FDCA0F8C8E644">
      <blockquote>
        <p>“Just wanted to say a big thank you to Leeds Credit Union for helping me sort out my finances. I feel like a weight
          has been lifted off my shoulders."</p>
      </blockquote>
      <blockquote>
        <p>"Citizens Advice Leeds were so helpful and have taken away all my stress. Everyone that I spoke with was very helpful.
          If it wasn’t for them, I would have nothing, it’s really nice to know that there is help out there."</p>
      </blockquote>
      &#8203;&#8203;</div>
    <p></p>
  </div>
</div>
<h2>Related Documents</h2>
<div class="docList one">
  <div class="listWebpart">
    <ul>
      <li class="pdf">
        <a href=""
          rel=""> <span class="info">MIC Frequently Asked Questions <span class="arrow"></span></span><span
            class="thirdInfo">PDF 1.4MB</span> </a>
      </li>
      <li class="pdf">
        <a href=""
          rel=""> <span class="info">Help with managing your money<span class="arrow"></span></span><span
            class="thirdInfo">PDF 480KB</span> </a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

  <hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}