{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
What happens after you’ve registered your interest | Foster4Leeds
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
Find out about fostering with Leeds City Council
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class="">
        <span class="s4-breadcrumb-arrowcont">
            <img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;">
        </span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class="">
                <span class="s4-breadcrumb-arrowcont">
                    <img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;">
                </span>
                <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/what-is-fostering">Find out about fostering with Leeds City Council</a>
            </li>
        </ul>
        <ul class="">
            <li class="">
                <span class="s4-breadcrumb-arrowcont">
                    <img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;">
                </span>What happens after you’ve registered your interest</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li>
                <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/what-is-fostering">What is fostering?</a>
            </li>
            <li>
                <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/who-can-be-a-foster-carer">Who can be a foster carer?</a>
            </li>
            <li>
                <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/why-foster-with-leeds-city-council">Why foster with us?</a>
            </li>
            <li>
                <a href="#">Register your interest</a>
            </li>
            <li>What happens after you’ve registered your interest</li>
            <li>
                <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/transfer-to-leeds-city-council">Transfer to Leeds City Council</a>
            </li>
        </ol>
    </nav>
</aside>

<div class="text">
    <h2>5. What happens after you’ve registered your interest</h2>
    <p class="lead">Once you’ve registered your interest you will be guided through the application process. This usually takes about six
        months. </p>

    <p>Throughout the whole process you will be offered support and advice and there will be lots of opportunities to ask questions.</p>

    <p>The steps that we go through while we get to know you and prepare you for fostering are:</p>
    <ol class="list list-step">
        <li>A home visit</li>
        <li>Completion of an application form</li>
        <li>Attending a three day training course</li>
        <li>General medical and criminal records check (known as a Disclosure and Barring Service – DBS check)</li>
        <li>Working with a social worker on your assessment and portfolio</li>
        <li>Attending a fostering panel</li>
        <li>Registration as a foster carer</li>
    </ol>
</div>

<nav class="pagination-nav" role="navigation" aria-label="Pagination">
    <ul>
        <li class="pagination-nav__previous-page">
            <a href="#" rel="prev">
                <span class="pagination-nav__part-title">Previous</span>
                <span class="pagination-nav__label">Register your interest</span>
            </a>
        </li>
        <li class="pagination-nav__next-page">
            <a href="/foster4leeds2017/find-out-about-fostering-with-Leeds-City-Council/transfer-to-leeds-city-council" rel="next">
                <span class="pagination-nav__part-title">Next</span>
                <span class="pagination-nav__label">Transfer to Leeds City Council</span>
            </a>
        </li>
        <div style="clear:both"></div>
    </ul>
</nav>





{% endblock %} {% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3>
        <ul class="nav">
            <li>
                <a class="item" href="#">Link 1</a>
            </li>
            <li>
                <a class="item" href="#">Link 2</a>
            </li>
            <li>
                <a class="item" href="#">Link 3</a>
            </li>
            <li>
                <a class="item" href="#">Link 4</a>
            </li>
            <li>
                <a class="item" href="#">Link 5</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}

{% endblock %} 

{% block sectionTwoFull%} 
{% include "includes/foster4leeds2017/panel-register.html" %}
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}