{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Who can be a foster carer? | Foster4Leeds
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
Find out about fostering with Leeds City Council
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/what-is-fostering">Find out about fostering with Leeds City Council</a></li>
        </ul>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Who can be a foster carer?</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/what-is-fostering">What is fostering?</a></li>
            <li>Who can be a foster carer?</li>
            <li><a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/why-foster-with-leeds-city-council">Why foster with us?</a></li>
			<li><a href="#">Register your interest</a></li>
			<li><a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/how-to-become-a-foster-carer">What happens after you’ve registered your interest</a></li>
			<li><a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/transfer-to-leeds-city-council">Transfer to Leeds City Council</a></li>
        </ol>
    </nav>
</aside>

<div class="text">
<h2>2. Who can be a foster carer?</h2>
    <p class="lead">You don’t need any special qualifications to be a foster carer.</p>
    <p>We welcome applications from any ethnic background, religion and sexuality, and it doesn’t matter whether you are employed, unemployed, married, single or divorced - the important thing is that you have time to give to a child.</p>
    <p>There is no such thing as a typical foster carer and we assess all applications on an individual basis. Please <a href="#contact">get in touch</a> if you are interested in fostering or have any questions.</p>
</div>

{% include "includes/foster4leeds2017/panel-quote.html" %}

<div class="text">
    <h2>We look for people who:</h2>
    <ul class="list list-bullet">
        <li>enjoy the challenges of looking after children</li>
        <li>have a spare bedroom (it doesn’t matter whether you rent, live in a council property or own your own home)</li>
        <li>live within 20 miles of Leeds city centre</li>
        <li>are over 21</li>
        <li>have time to meet a child’s needs</li>
        <li>don’t have any convictions or cautions against children</li>
    </ul>  


<nav class="pagination-nav" role="navigation" aria-label="Pagination">
    <ul>
            <li class="pagination-nav__previous-page">
                    <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/what-is-fostering" rel="prev">
                    <span class="pagination-nav__part-title">Previous</span>
                    <span class="pagination-nav__label">What is fostering?</span>
                    </a>
                </li>
        <li class="pagination-nav__next-page">
            <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/why-foster-with-leeds-city-council" rel="next">
            <span class="pagination-nav__part-title">Next</span>
            <span class="pagination-nav__label">Why foster with us?</span>
            </a>
        </li>
        <div style="clear:both"></div>
    </ul>
    </nav>	
</div>

{% endblock %}

{% block pageContent %}



{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
    {% include "includes/foster4leeds2017/panel-register.html" %}
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}