<hr class="ms-rteElement-spacer" />
<div class="partnerSites">
    <div class="listWebpart">
        <h2>
		
                Partner sites

        </h2>
        
                <ul>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/">
                        
                        Leeds City Council</a>
                </li>
            
                <li>
                    
                    <a href="http://www.musedevelopments.com/">
                        
                        Muse Developments</a>
                </li>
            
                <li>
                    
                    <a href="http://www.evanspropertygroup.com/">
                        
                        Evans Property Group</a>
                </li>
            
                <li>
                    
                    <a href="http://www.harworthestates.co.uk/">
                        
                        Harworth Estates</a>
                </li>
            
                <li>
                    
                    <a href="http://www.wiltondevelopments.co.uk/www/view.asp?content_id=108&amp;parent_id=13">
                        
                        Wilton</a>
                </li>
            
                <li>
                    
                    <a href="http://www.lepnetwork.net/">
                        
                        LEP Network</a>
                </li>
            
                <li>
                    
                    <a href="http://www.the-lep.com">
                        
                        Leeds City Region LEP</a>
                </li>
            
                <li>
                    
                    <a href="http://enterprisezones.communities.gov.uk/">
                        
                        Enterprise Zones</a>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>
<hr class="ms-rteElement-spacer" />