{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Why foster with Leeds city council? | Foster4Leeds
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
Why foster with Leeds city council?
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Why foster with Leeds city council?</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

<div class="text">
    <p class="lead">Fostering makes a real difference to children and young people and no special qualification is needed.</p>
    <p>We know that you’ll need help and support and we offer this throughout your fostering journey.</p>
    
    <!-- I've changed this from a <h3> to a <h2> for accessibility. DH. -->
    <h2>Training</h2>
    <p>You’ll have lots of opportunities to access training to develop your skills in supporting children and young people through difficult times.</p>
    <p>You can:</p>

    <ul class="list list-bullet">
        <li>attend courses with all travel expenses paid</li>
        <li>gain qualifications such as NVQ level 3</li>
        <li>complete online training</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
            <p>All of these opportunities can work around your childcare commitments.</p>
    </div>
    
    <!--<h3>Financial support</h3>
    <p>Financial support for foster carers is made up of two main parts. A weekly allowance based on the age of the child or children, and a weekly fee determined by our ‘payment for skills’ model.</p>
    <p>The weekly allowance per child is:</p>
    <ul class="list list-bullet">
        <li>0 – 4 years: £142.86</li>
        <li>5 – 10 years: £162.73</li>
        <li>11 – 15 years: £202.58</li>
        <li>16 years plus: £246.44</li>
    </ul>-->

    <h3>The weekly allowance per child is:</h3>

    <!-- I thought this might be better as a table. DH -->
    <div class="table-responsive">
        <table>
            <caption class="sr-only">Weekly allowance per child</span></caption>
            <thead>
                <tr>
                    <th scope="col">Childs age</th>
                    <th class="numeric" scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0 – 4 years</td>
                    <td class="numeric">£142.86</td>
                </tr>
                <tr>
                    <td>5 – 10 years</td>
                    <td class="numeric">£162.73</td>
                </tr>
                <tr>
                    <td>11 – 15 years</td>
                    <td class="numeric">£202.58</td>
                </tr>
                <tr>
                    <td>16 years plus</td>
                    <td class="numeric">£246.44</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--<p>The payment for skills fee levels are:</p>

    <ul class="list list-bullet">
        <li>Level 1 - not payable</li>
        <li>Level 2 - £120 (first child), £120 (second child), £60 each subsequent child (plus 7 days paid annual leave entitlement)</li>
        <li>Level 3 - £170 (first child), £170 (second child), £85 each subsequent child (plus 10 days paid annual leave entitlement)</li>
        <li>Level 4 - £220 (first child) £220 (second child), £110 each subsequent child (plus 14 days paid annual leave entitlement)</li>
    </ul>-->

    <h3>The payment for skills fee levels are:</h3>

    <!-- I thought this might be better as a table. DH -->
    <div class="table-responsive">
        <table>
            <caption class="sr-only">Payment for skills fee level</span></caption>
            <thead>
                <tr>
                    <th scope="col">Level</th>
                    <th class="numeric" scope="col">First child</th>
                    <th class="numeric" scope="col">Second child</th>
                    <th class="numeric" scope="col">Each subsequent child</th>
                    <th class="numeric" scope="col">Paid annual leave entitlement</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <td class="numeric">£120</td>
                    <td class="numeric">£120</td>
                    <td class="numeric">£60</td>
                    <td class="numeric">7 days</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td class="numeric">£170</td>
                    <td class="numeric">£170</td>
                    <td class="numeric">£85</td>
                    <td class="numeric">10 days</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td class="numeric">£220</td>
                    <td class="numeric">£220</td>
                    <td class="numeric">£110</td>
                    <td class="numeric">14 days</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div role="note" aria-label="Information" class="text-highlight">
            <p>The allowances are examples and are subject to change.</p>
        </div>
    <p>Your level of skills will be discussed in detail at the home visit stage. We’ll advise you on how your experience are matched to a particular skills level.</p>
   
   <!-- I've changed this from a <h3> to a <h2> for accessibility. DH. -->
    <h2>Local support</h2>
    <p>Our fostering teams provide local support groups for our foster carers. These support groups include:</p>
    <ul class="list list-bullet">
        <li>your own social worker</li>
        <li>membership to the <a href="http://www.leeds.gov.uk/foster4leeds/pages/leeds-foster-care-association.aspx">Leeds Foster Carer Association</a></li>
        <li>membership to the Fostering Network</li>
        <li>opportunities for you to meet other carers</li>
        <li>the latest information on the work of the team and the services we provide</li>
        <li>practical advice and support</li>
    </ul>

    <!-- I've changed this from a <h3> to a <h2> for accessibility. DH. -->
    <h2>Additional benefits</h2>
    <p>We also offer:</p>
    <ul class="list list-bullet">
        <li>free annual Bodyline membership for foster carers</li>
        <li>free annual junior Bodyline membership for children aged 8-18 years</li>
        <li>free junior swimming lessons</li>
        <li>discounts to local businesses</li>
        <li>additional home and contents insurance for our approved foster carers</li>
    </ul>

    <div role="note" aria-label="Information" class="text-highlight">
        <p>If you are already a foster carer registered elsewhere you can <a href="#">transfer to Leeds city council</a>.</p>
    </div>
    
</div>

{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}