{% extends "layout_multi_sections.html" %}

{% block page_title %}
Care Leavers
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}youthinformationhub/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Care leavers
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedspathways/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<p class="lead">Have you already left care or are you about to? This page has support for you.</p>
{% endblock %}

{% block sectionOneHalf %}
<h2>Get in touch</h2>
<ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>East Team Contact Details</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>West Team Contact Details</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Emergency Duty Team</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Leave a Compliment/Complaint</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Get your case record</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>East Team Contact Details</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block sectionOneHalfRight %}
<h2>Emergency and important numbers</h2>
<ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Emergency Numbers</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Emergency Gas number</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>



        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Medical Help when you're injured (not emergencies)</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Housing Emergency Out of Hours</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>

        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Leeds City Council Housing Repairs</a>
            <div
                style="display: none;" class="content-block">
<p><strong>Ca&#8203;ll &#8203;East Teams on</strong>&nbsp;- 01133783364<br>&nbsp;<br>We're here: Mon to Thurs 8:30am to 5pm; Fri 8:30<span id="ms-rterangecursor-start" style="display:none"></span><span id="ms-rterangecursor-end" style="display:none"></span>am to 4:30pm <br>If you can't get ahold of your PA, call the number above and the Duty worker will be able to help you.
<br><br>If you have an emergency outside of office hours, call the Emergency Duty number.</p>
                </div>
        </div>
    </li>
</ul>
{% endblock %}

{% block sectionOneFullBottom %}






{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>Leaving Care</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        
                        
                        Your journey: What happens and when</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                        What happens when you leave care? from the Who Care's Trust</h3></a>
                </li>        
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 <div class="groupPromo full">
  <div class="listWebpart">
    <h2>Networks for Care Leavers</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        Care Leavers' Foundation: Support for Care Leavers</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>                 
                        Care Leavers' Reunited</h3></a>
                </li> 

                <li>
                    <a href="choosingyourcareer.html">
                    <h3>                 
                        
                        Care Leavers' Association</h3></a>
                </li>

                
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>                 
                        
                        Facebook page</h3></a>
                </li>             
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

{% block sectionTwoThirdCol3 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>Our Promises to You</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        
                        
                       
                        
                        Care Leavers Council</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                        A National Voice - Take part and keep in touch</h3></a>

                </li>

                      <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                       Young People's Zone: Coram Voice</h3></a>
                        
                       
                </li>         
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>What's on</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        
                        
                       
                        
                        Care Leavers Council</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                        A National Voice - Take part and keep in touch</h3></a>

                </li>

                      <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                       Young People's Zone: Coram Voice</h3></a>
                        
                       
                </li>         
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 <div class="groupPromo full">
  <div class="listWebpart">
    <h2>Have your say</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        
                        
                       
                        
                        Care Leavers Council</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                        A National Voice - Take part and keep in touch</h3></a>

                </li>

                      <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                       Young People's Zone: Coram Voice</h3></a>
                        
                       
                </li>         
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

{% block sectionThreeThirdCol3 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>Jobs and Training</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        
                        
                       
                        
                        Care Leavers Council</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                        A National Voice - Take part and keep in touch</h3></a>

                </li>

                      <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        
                        
                       
                        
                       Young People's Zone: Coram Voice</h3></a>
                        
                       
                </li>         
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
         {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}