{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
     <link href="{{ asset_path }}youthinformationhub/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<p class="lead">​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​  Thi​s is an information hub for Leeds young people, bringing together information you need on a range of topics.​​</p>

<div class="groupPromo blue">
  <div class="listWebpart">
 <ul>
            
                <li>
                    
                    <a href="choosingyourcareer.html">
        
                        <h3>Mental Health Information</h3></a>
                </li>

                    <li>
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
          
                        <h3>Housing Information</h3></a>
                </li>

                     <li>
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
           
                        <h3>Physical and Sexual Health</h3></a>
                </li>

                     <li>
                    
                    <a href="digital.html">
              
                        <h3>Skills for Life</h3></a>
                </li>

                
                     <li>
                    
                    <a href="digital.html">
                
                        <h3>Are you a mum or dad - or about to become one? </h3></a>
                </li>

                
                     <li>
                    
                    <a href="digital.html">
                
                        <h3>Are you a Care Leaver? </h3></a>
                </li>

                
                     <li class="external">
                    
                    <a href="digital.html">
              
                        <h3>Are you a Young Carer?</h3></a>
                </li>
                
                     <li>
                    
                    <a href="digital.html">
                        <h3>Are you a Young Person with a Disability?</h3></a>
                </li>
                
           
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>Have your say</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        Courses in Leeds</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        Apprenticeships in Leeds</h3></a>
                </li>

                
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>Jobs in Leeds</h3></a>
                </li>

     
      
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 <div class="groupPromo full">
  <div class="listWebpart">
    <h2>Leeds pathways</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        Breeze Activities</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        Library activities for young people</h3></a>
                </li>

                
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>Leeds Museums & Galleries</h3></a>
                </li>

     
      
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

{% block sectionOneThirdCol3 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>Things to do</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>Have your say in leeds</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>Leeds Youth Council</h3></a>
                </li>

                
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>British Youth Council</h3></a>
                </li>

     
      
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
section two
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>Money and Travel</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        Courses in Leeds</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        Apprenticeships in Leeds</h3></a>
                </li>

                
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>Jobs in Leeds</h3></a>
                </li>

     
      
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 <div class="groupPromo full">
  <div class="listWebpart">
    <h2>Get help and support</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        Courses in Leeds</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        Apprenticeships in Leeds</h3></a>
                </li>

                
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>Jobs in Leeds</h3></a>
                </li>

     
      
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}

{% block sectionTwoThirdCol3 %}
<div class="groupPromo full">
  <div class="listWebpart">
    <h2>useful links</h2>
 <ul>
            
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>              
                        Courses in Leeds</h3></a>
                </li>

                 
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>
                        
                        Apprenticeships in Leeds</h3></a>
                </li>

                
                <li>
                    <a href="choosingyourcareer.html">
                    <h3>Jobs in Leeds</h3></a>
                </li>

     
      
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
section three
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
section four
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
sectionfive
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}