{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}leedsmarkets/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsmarkets/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<hr class="ms-rteElement-spacer" />
 {% include "includes/design-patterns/carousel.html" %}


 <div class="blockLinks">
    <div class="listWebpart">
        <ul>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsmarkets/images/icon-main-kirkgate.png">KIRKGATE MARKET</a>
            </li>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsmarkets/images/icon-main-farmers.png">FARMERS MARKET</a>
            </li>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsmarkets/images/icon-main-local.png">LOCAL MARKETS</a>
            </li>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsmarkets/images/icon-main-speciality.png">SPECIALITY MARKETS</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>



<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="">
<ul>
         
                <li class="three heightTwo">
     <a style="background: url(/public/images/ageOfGlamourLG.jpg) no-repeat" href="eventsDetails.html"><span class="info">What's on at Kirkgate market<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"</span></a>
     </li>  

                     <li class="three heightTwo">
     <a style="background: url(/public/images/ageOfGlamourLG.jpg) no-repeat" href="eventsDetails.html"><span class="info">What's on at Kirkgate market<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"</span></a>
     </li>  

                     <li class="three heightTwo">
     <a style="background: url(/public/images/ageOfGlamourLG.jpg) no-repeat" href="eventsDetails.html"><span class="info">What's on at Kirkgate market<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"</span></a>
     </li> 

     
      <li class="three heightTwo">
     <a style="background: url(/public/images/ageOfGlamourLG.jpg) no-repeat" href="eventsDetails.html"><span class="info">What's on at Kirkgate market<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"</span></a>
     </li>   
            
         
         
  


  
         
         
     </ul>


  </div>
</div>
<hr class="ms-rteElement-spacer" />

{% endblock %}



{% block sectionOneRightHandColumn %}
<hr class="ms-rteElement-spacer" />
<div class="highlighted">
  <h3>The Bazaar</h3>
  <p>Every Wednesday</p> 
   <a href="http://www.leeds.gov.uk/leedsmarkets/Pages/TheBazaar.aspx">more information</a>
</div>
<div class="highlighted">
  <h3>Upcoming</h3>
  <h4>World Feast</h4> 
<p>Every 4th Sunday of the month</p>
<p>10am to 4pm</p>
<p>Briggate, Leeds City Centre</p>
 <a href="http://www.leeds.gov.uk/leedsmarkets/Pages/world-feast.aspx">Find out more</a>
 <hr/>
 <h4>Leeds Farmers Market</h4>
 <p>On the first and third Sunday of evdry month on Briggate</p>
</div>

<div class="highlighted">
  <h3>Farmers Markets</h3>
  <h4>Farsley Farmers' Market</h4> 
<p>4th Saturday of every month</p>
<p>9:00am to 12:30pm</p>
<p>Farsley Parish Church, New Street, Farsley</p>
 <hr/>
 <h4>Horsforth Farmers' Market</h4>
 <p>1st Saturday of every month<br/>
9:00am to 12:30pm<br />
St Margaret's Primary School, Town Street,
Horsforth, LS18 5BL</p>
  <a rel="external" href="http://www.horsforthfarmersmarket.co.uk">Find out more</a>
</div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<hr class="ms-rteElement-spacer" />	
<div class="contentLink"> 
   <div class="listWebpart"> 
      <ul> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsmarkets/images/icon-newsletter.png" alt=""> 
               <h2>LEEDS MARKET NEWSLETTER</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsmarkets/images/icon-trader.png" alt=""> 
               <h2>LIKE TO BECOME A TRADER?</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
      </ul> 
      <div class="clearfix"></div> 
   </div> 
</div>




{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}