{% extends "layout_multi_sections.html" %}

{% block page_title %}
Kirkgate Market
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsMarkets/stylesheets/applicationKirkgate.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Kirkgate Market
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsMarkets/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}

<div class="venueAddress"><p><span class="icon icon-map"></span>Main entrance Vicar Lane, Leeds City Centre LS2 7HY</p>
<p><span class="icon icon-phone"></span>0113 378 1950</p>
<p><span class="icon icon-clock"></span>Monday - Saturday, our doors are open from 8am until 5.30pm (Shop & Drop until 5pm). The market is open as normal on Good Friday but will be closed on Easter Monday.​</p>
</div>

<hr />


<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="">
<ul>
         

         
         
          <li class="four heightTwo content">
       <img src="/public/leedsMarkets/images/kirkgate-market-2.png" alt="" />
     </li>  
         

           <li class="two heightTwo">
     <a style="background: url(/public/leedsMarkets/images/KirkgateMap.jpg) no-repeat" href=""><span class="info">Get Directions<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li>   
            
                  <li class="two ">
     <a style="background: url(/public/leedsMarkets/images/Jamies.png) no-repeat" href=""><span class="info">Jamies Ministry of food<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li>   
                  <li class="two ">
     <a style="background: url(/public/leedsMarkets/images/Shop-and-Drop.jpg) no-repeat" href=""><span class="info">Shop and drop<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li>   
                  <li class="two">
     <a style="background: url(/public/leedsMarkets/images/Band-wide.jpg) no-repeat" href=""><span class="info">What's on at Kirkgate<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li>   
         
         
     </ul>


  </div>
</div>
<hr />
{% endblock %}

{% block sectionOneRightHandColumn %}

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}

<h2>Britain’s Favourite Market 2017</h2>
<p>For the second consecutive year, Leeds Kirkgate Market was voted Britain’s Favourite Market at the ‘Great British Market Awards’ on Thursday 26 January 2017. With over 100,000 votes received by the public following online voting over a six week period.</p>

<p><strong>Welcome to Leeds Kirkgate Market</strong>, one of the largest indoor markets in Europe, Kirkgate is a shopper’s paradise from fresh food, drink and fashion to jewellery, flowers, hardware and haberdashery.</p>

<p>At the heart of the Leeds retail scene since 1857, Leeds Kirkgate Market is home to some of the most characterful traders in the city, with businesses spanning generations and representing a wide range of nationalities including a Polish delicatessen and a Chinese supermarket, an Asian Bazaar every Wednesday morning and a farmers market held on the outdoor market opposite John Lewis every first and third Sunday of the month.<br><br></p>


<h2>What to do?</h2>

<p>You certainly won't be short of options. With around 170 traders currently in the
market, there's always something interesting to buy, try, see or do.<br><br></p>

<h2>Eat</h2>
<p>If you can think of a cuisine, the chances are you can get it at Leeds Kirkgate
Market. From shawarmas to chapattis, crepes to cockles and Yorkshire puds
to fine patisserie, you'll find all sorts of good eats in one place. It's hard to
leave hungry!<br><br></p>

<h2>Drink</h2>
<p>With the new event space and later opening hours on the horizon, the transition from shopping hub to social destination is well underway. Coffee, tea and smoothies have long been a fixture of the market, but now it's beer and wine too.<br><br></p>

<h2>Shop</h2>
<p>Leeds Kirkgate Market has been the city's essential shopping destination for over a century - and that's exactly how it will stay. From food to fashion, homewares and jewellery, there's an incredible range of goodies to keep shopping bags bulging.</p>

<p>The 20l6 redevelopment has created a brand new Fresh Produce area, the Kirkgate Pantry, bringing meat, fish, game and other fresh goods together for the very first time.<br><br></p>
 

<h2>Experience</h2>
<p>With the sights, smells and sounds of the market, Leeds Kirkgate Market has always been an experience. However, the new events space has taken this to a whole other level. It means the market can host events of all shapes and sizes, from vintage fashions fairs to food &amp; drink festivals, plays and live music.</p>

<hr class="ms-rteElement-spacer" />





{% endblock %}

{% block sectionTwoRightHandColumn %}
<hr class="ms-rteElement-spacer" />
<div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(/public/leedsMarkets/images/kirkgatemarketpod.jpg) no-repeat"></span><span>History of Kirkgate Market</span></a>
</div>
<div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(/public/leedsMarkets/images/bread.jpg) no-repeat"></span><span>Become a Trader</span></a>
</div>
<div class="blockVenueDetails blockFull">
    <div class="listWebpart">
        <ul>
            <li>
                <div>
                    <h2>
                        <img id="ctl00_m_g_8bb71bd7_f8f2_4c65_a7eb_08431b7e8ffb_imgWithoutLink" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/icons/icon-parking.png"
                            alt="Parking Icon" style="border-width:0px;">Parking
                    </h2>
                    <p>Limited free and on street parking in Otley and three pay and display car parks. There is also free parking
                        at Sainsbury’s car park in the centre but this is limited to 4 hours. </p>

                </div>
            </li>

            <li>
                <div>
                    <h2>


                        <img id="" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/icons/icon-bus.png" alt="Bus Icon" style="border-width:0px;">Bus
                        routes </h2>

                    <p>Leaving from Leeds City Bus Station, the X84 leaves the station at quarter past and five to the hour.
                        The nearest bus stop is on Crossgate in the centre of Otley. To plan your journey visit: </p>

                    <a href="http://www.wymetro.com">West Yorkshire Metro</a>
                </div>
            </li>

            <li>
                <div>
                    <h2>
                        <img id="ctl00_m_g_91f5c134_9ff2_4f05_b5bf_a8b7ffddfef6_imgWithoutLink" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/icons/icon-rail.png"
                            alt="Rail Icon" style="border-width:0px;">Nearest rail
                    </h2>

                    <p>The nearest station to Otley is at Menston 2 miles from the centre of Otley, with trains from Leeds city
                        centre every 30 minutes. Regular buses in between the two towns with buses leaving from outside the
                        railway station. </p>

                    <a href="http://www.nationalrail.co.uk/stations/mnn/details.html">
                        
                        National Rail</a>
                </div>
            </li>

        </ul>

        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<hr class="ms-rteElement-spacer" />	
<div class="contentLink"> 
   <div class="listWebpart"> 
      <ul> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsMarkets/images/icon-newsletter.png" alt=""> 
               <h2>LEEDS MARKET NEWSLETTER</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsMarkets/images/icon-trader.png" alt=""> 
               <h2>LIKE TO BECOME A TRADER?</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
      </ul> 
      <div class="clearfix"></div> 
   </div> 
</div>
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/leedsenterprisezone/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}