{% extends "layout_multi_sections.html" %}

{% block page_title %}
Oltley Market
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsmarkets/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Oltley Market
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsmarkets/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}

<div class="venueAddress"><p><span class="icon icon-map"></span>Market Square, Otley</p>
<p><span class="icon icon-phone"></span>0113 378 1950</p>
<p><span class="icon icon-clock"></span>Tuesday, Friday and Saturday, we are open from 8.30am until 3.30pm,</p>
<hr></div>
{% endblock %}

{% block sectionOneRightHandColumn %}

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
<hr class="ms-rteElement-spacer" />
<img alt="Otley market place" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/Otley%20Market%2015.jpg" style="margin: 5px"><p>Otley is one of the most picturesque areas of Leeds, and one of the most popular with tourists and walkers. A favourite with visitors looking for a more relaxed flavour of Leeds, Otley is no stranger to a famous face or two as the town’s courthouse was the location for Ashfordly Police Station in the hit TV series Heartbeat.</p>
<p>It is also home to one of the largest local markets in Leeds with around 100 stalls spilling over from the market square into neighbouring streets and mingling with the high street shops and tea rooms. Otley market is a treasure trove of everything from clothes and household goods, to crafts, food, drink, jewellery and gifts.</p>
<img alt="Man buying fruit from a stall" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/Otley%20Market%2012%20crop.jpg" style="margin: 5px"><br>
<p>The mix of wares at this artisan market added to the independent high street retailers makes Otley one of Leeds’ best kept shopping secrets. Overlooking the pretty valleys and peaks of Wharfedale, the town is also known for its beauty spots and is filled with walkers and runners in the summer months. Otley’s Victorian lanes and dramatic country setting also make it an ideal location for the colder winter months, with the town’s <a href="http://www.victorianfayre.co.uk/" >Victorian Christmas Fayre</a><br></p>






{% endblock %}

{% block sectionTwoRightHandColumn %}
<hr class="ms-rteElement-spacer" />
<div class="blockVenueDetails blockFull">
    <div class="listWebpart">
        <ul>
            <li>
                <div>
                    <h2>
                        <img id="ctl00_m_g_8bb71bd7_f8f2_4c65_a7eb_08431b7e8ffb_imgWithoutLink" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/icons/icon-parking.png"
                            alt="Parking Icon" style="border-width:0px;">Parking
                    </h2>
                    <p>Limited free and on street parking in Otley and three pay and display car parks. There is also free parking
                        at Sainsbury’s car park in the centre but this is limited to 4 hours. </p>

                </div>
            </li>

            <li>
                <div>
                    <h2>


                        <img id="" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/icons/icon-bus.png" alt="Bus Icon" style="border-width:0px;">Bus
                        routes </h2>

                    <p>Leaving from Leeds City Bus Station, the X84 leaves the station at quarter past and five to the hour.
                        The nearest bus stop is on Crossgate in the centre of Otley. To plan your journey visit: </p>

                    <a href="http://www.wymetro.com">West Yorkshire Metro</a>
                </div>
            </li>

            <li>
                <div>
                    <h2>
                        <img id="ctl00_m_g_91f5c134_9ff2_4f05_b5bf_a8b7ffddfef6_imgWithoutLink" src="http://www.leeds.gov.uk/leedsmarkets/PublishingImages/icons/icon-rail.png"
                            alt="Rail Icon" style="border-width:0px;">Nearest rail
                    </h2>

                    <p>The nearest station to Otley is at Menston 2 miles from the centre of Otley, with trains from Leeds city
                        centre every 30 minutes. Regular buses in between the two towns with buses leaving from outside the
                        railway station. </p>

                    <a href="http://www.nationalrail.co.uk/stations/mnn/details.html">
                        
                        National Rail</a>
                </div>
            </li>

        </ul>

        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<hr class="ms-rteElement-spacer" />	
<div class="contentLink"> 
   <div class="listWebpart"> 
      <ul> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsmarkets/images/icon-newsletter.png" alt=""> 
               <h2>LEEDS MARKET NEWSLETTER</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsmarkets/images/icon-trader.png" alt=""> 
               <h2>LIKE TO BECOME A TRADER?</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
      </ul> 
      <div class="clearfix"></div> 
   </div> 
</div>
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/leedsenterprisezone/footer_nav.html" %}
 {% endblock %}

  {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}