{% extends "layout_multi_sections.html" %}

{% block page_title %}
Trade On Our Markets
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsmarkets/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Trade On Our Markets
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsMarkets/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<p>It’s never been easier to get trading. The Markets Service is always happy to hear from anybody who wants to open up a stall whether you’re an old hand or a complete beginner. There are normally always stalls available and you’ll find vast choice of markets across a number of locations in Leeds. </p>
<hr>
<h2>Which market would you like to trade at?</h2>
 <div class="blockLinks">
    <div class="listWebpart">
        <ul>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsMarkets/images/icon-main-kirkgate.png">KIRKGATE MARKET</a>
            </li>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsMarkets/images/icon-main-farmers.png">FARMERS MARKET</a>
            </li>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsMarkets/images/icon-main-local.png">LOCAL MARKETS</a>
            </li>
            <li>
                <a class="equal-item" href="#" style="height: 171px;"> <img src="/public/leedsMarkets/images/icon-main-speciality.png">SPECIALITY MARKETS</a>
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<hr class="ms-rteElement-spacer" />
<div class="highlighted">
  <h3>Need help?</h3>
   <p>If you’re not sure which application you need to use you can give us a ring on <b>0113 378 1950</b>.</p>
</div>

<div class="blockText"><h3>Need help?</h3>
<p>If you’re not sure which application you need to use you can give us a ring on <strong>0113 378 1950</strong>.</p></div>
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}

<div class="docList one">
  <h2>PRINTABLE FORMS</strong></h2>

  <div class="listWebpart">
    <ul>
      <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
            <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
                  <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
                        <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
                              <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
                                    <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
                                          <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
                                                <li class="pdf equal-item" style="height: 107px;"><a href="/professionals/Documents/Checklist%20of%20Sexual%20Behaviour%20in%20Nursery%20Primary%20Children.pdf"><span class="info">Kirkgate outdoor market trader application form<span class="arrow"></span></span><span class="thirdInfo">PDF 326 KB</span></a></li>
    </ul>
  </div>
 </div> 
 <hr class="ms-rteElement-spacer">

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
<hr class="ms-rteElement-spacer" />	
<div class="contentLink"> 
   <div class="listWebpart"> 
      <ul> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsMarkets/images/icon-newsletter.png" alt=""> 
               <h2>LEEDS MARKET NEWSLETTER</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
         <li class="equal-item col-sm-6"> 
            <div>
               <img src="/public/leedsMarkets/images/icon-trader.png" alt=""> 
               <h2>LIKE TO BECOME A TRADER?</h2> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">FIND OUT MORE</a> </div> 
         </li> 
      </ul> 
      <div class="clearfix"></div> 
   </div> 
</div>
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/leedsenterprisezone/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}