{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Kinship care | Foster4Leeds
{% endblock %}


  {% block css_register %}
  <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Friends and family fostering
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/foster4leeds2017/index.html">Home</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Friends and family fostering</li>
                    
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li>Kinship care</li>
            <li><a href=""><a href="/foster4leeds2017/Friends-and-family-fostering/special-guardianship.html">Special guardianship</a></li>
            <li><a href=""><a href="/foster4leeds2017/Friends-and-family-fostering/private-fostering.html">Private fostering</a></li>
        </ol>
    </nav>
</aside>

<div class="text">  
    <h2>1. Kinship care</h2>
    <p class="lead">You’re a kinship carer if you’re looking after the child of a relative or friend on a full time basis, either temporarily or permanently.</p>
    <p>Sometimes this is done as a <a href="/foster4leeds2017/Friends-and-family-fostering/private-fostering.html">private fostering arrangement</a>.</p> 

    <p>The biggest group of kinship carers are grandparents, but there are many others including brothers and sisters or aunts and uncles. To make sure you’re getting the right support it’s important to let us know about your circumstances.</p>

    <p>You can contact our kinship care team on 0113 378 3537.</p>    

    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
    <ul>
        <li class="pagination-nav__next-page">
            <a href="/foster4leeds2017/Friends-and-family-fostering/special-guardianship.html" rel="next">
            <span class="pagination-nav__part-title">Next</span>
            <span class="pagination-nav__label">Special guardianship</span>
            </a>
        </li>
        <div style="clear:both"></div>
    </ul>
    </nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">       	    
            <li><a class="item" href="#" title="" id="">Link 1</a></li>
            <li><a class="item" href="#" title="" id="">Link 2</a></li>
            <li><a class="item" href="#" title="" id="">Link 3</a></li>
            <li><a class="item" href="#" title="" id="">Link 4</a></li>
            <li><a class="item" href="#" title="" id="">Link 5</a></li>                                                                       	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reuserblecontent_footer %}
  {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}