{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Private fostering
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
Friends and family fostering
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
 <ul>
        <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
            <a href="/lcc-home.html">Home</a>
            <ul class="">
                <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/foster4leeds2017/index.html">Foster4Leeds</a>
                    <ul class="">
                        <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/foster4leeds2017/Friends-and-family-fostering/Friends-and-family-fostering-kinship-care.html">Friends and family fostering</a></li>
                        <ul class="">
                                <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Private fostering</li>
                        
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
        <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
            <ol>
                <li><a href="/foster4leeds2017/Friends-and-family-fostering/Friends-and-family-fostering-kinship-care.html">Kinship care</a></li>
                <li><a href="/foster4leeds2017/Friends-and-family-fostering/special-guardianship.html">Special guardianship</a></li>
                <li>Private fostering</li>
            </ol>
        </nav>
    </aside>

    <div class="text">
        <h2>3. Private fostering</h2>
            <p class="lead">Private fostering is when a child under 16 (or under 18 if disabled) is living for 28 days or more with someone who is not a close relative.</p>
            <p>This might be a friend, a great aunt, a cousin or someone else known to the child. If you are a close relative looking after a child this is known as <a href="/foster4leeds2017/Friends-and-family-fostering/Friends-and-family-fostering-kinship-care.html">Kinship care</a>.</p>
            
            <div role="note" aria-label="Information" class="text-highlight">
                <p>A close relative is defined as a grandparent, aunt, uncle, brother or step-parent by marriage.</p>
            </div>
            
            <p>Many parents who’ve made informal arrangements for friends or extended family to care for their child don’t realise it’s private fostering.</p>
        
            <div class="notice">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true">
                        <span class="sr-only">Warning</span>
                    </i>
                    <strong class="bold-small">
                        <p>To keep vulnerable children safe and support families, by law parents and carers must notify their local authority if they have a private fostering arrangement.</p>
                    </strong>
            </div>
        
            <h2 class="medium">Examples of private fostering</h2>
            <p>A private fostering arrangement might be put in place for a child or young person when:</p>
            <ul class="list list-bullet">
                <li>parents work or study long and/or anti-social hours</li>
                <li>they are sent to the UK for education or health care by birth parents from outside the UK</li>
                <li>they live with a friend's family because of their parents’ separation, divorce or other difficulties at home</li>
                <li>a teenager lives with their partner's family</li>
            </ul>
        
            <!--<div class="panel">
                    <h2>Contact us</h2>
                    <p>Let us know about a private fostering arrangement:</p>
                    <p><strong>Phone</strong></p>
                    <div class="text-block">
                            0113 222 4403<br/>
                        <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
                    </div>
                    <p>If you are a professional involved with a child and their family:</p>
                    <p><strong>Phone</strong></p>
                    <div class="text-block">
                            0113 376 0336<br/>
                        <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
                    </div>
                    <p><strong>Email</strong></p>
                    <div class="text-block">
                        <a href="mailto:kinshipcareadmin@leeds.gov.uk">kinshipcareadmin@leeds.gov.uk</a>
                    </div>            
                </div> -->

                <nav class="pagination-nav" role="navigation" aria-label="Pagination">
                        <ul>
                                <li class="pagination-nav__previous-page">
                                        <a href="/foster4leeds2017/Friends-and-family-fostering/special-guardianship.html" rel="prev">
                                        <span class="pagination-nav__part-title">Previous</span>
                                        <span class="pagination-nav__label">Special guardianship</span>
                                        </a>
                                    </li>
                            
                            <div style="clear:both"></div>
                        </ul>
                        </nav>
        
            </div>

{% endblock %}

{% block pageContent %}


       
{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>



{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}