{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	Kinship care | Foster4Leeds
{% endblock %}


  {% block css_register %}
  <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Friends and family fostering
{% endblock%}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/foster4leeds2017/index.html">Home</a>
                <ul class="">
                    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span><a href="/foster4leeds2017/Friends-and-family-fostering/Friends-and-family-fostering-kinship-care.html">Friends and family fostering</a></li>
                    <ul class="">
                            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Special guardianship</li>
                    
                </ul>
            </li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

<aside class="part-navigation__container" role="complementary">
    <nav role="navigation" class="part-navigation" aria-label="Pages in this guide">
        <ol>
            <li><a href="/foster4leeds2017/Friends-and-family-fostering/Friends-and-family-fostering-kinship-care.html">Kinship care</a></li>
            <li>Special guardianship</li>
            <li><a href="/foster4leeds2017/Friends-and-family-fostering/private-fostering.html">Private fostering</a></li>
        </ol>
    </nav>
</aside>

<div class="text">  
    <h2>2. Special guardianship</h2>
    <p class="lead">Special guardianship offers a child safety and security with a carer without stopping the relationship with the birth parents.</p>    

    <p>Carers make most decisions to do with the child’s upbringing, including where the child lives, goes to school and what medical treatment they can receive.</p>

    <p>Birth parents don’t lose their parental responsibility, but they can’t exercise it except in certain circumstances.</p>
    
    <p>Carers may apply for a Special Guardianship Order after caring for the child for 12 months or sooner with permission from the court.</p>

    <p>For more information please contact the Kinship Care Team on 0113 378 3537 (Monday to Thursday, 9am to 5pm, Friday 9am to 4:30pm).</p>

    <nav class="pagination-nav" role="navigation" aria-label="Pagination">
    <ul>
            <li class="pagination-nav__previous-page">
                    <a href="/foster4leeds2017/Friends-and-family-fostering/Friends-and-family-fostering-kinship-care.html" rel="prev">
                    <span class="pagination-nav__part-title">Previous</span>
                    <span class="pagination-nav__label">Kinship care</span>
                    </a>
                </li>
        <li class="pagination-nav__next-page">
            <a href="/foster4leeds2017/Friends-and-family-fostering/private-fostering.html" rel="next">
            <span class="pagination-nav__part-title">Next</span>
            <span class="pagination-nav__label">Private fostering</span>
            </a>
        </li>
        <div style="clear:both"></div>
    </ul>
    </nav>

</div>

{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">       	    
            <li><a class="item" href="#" title="" id="">Link 1</a></li>
            <li><a class="item" href="#" title="" id="">Link 2</a></li>
            <li><a class="item" href="#" title="" id="">Link 3</a></li>
            <li><a class="item" href="#" title="" id="">Link 4</a></li>
            <li><a class="item" href="#" title="" id="">Link 5</a></li>                                                                       	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

  {% block reusablecontent_footer %}
  {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}