
<div class="groupPromo">
  <div class="listWebpart">
    <ul>
      <li>
        <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Level%203%20page%20images/DC-Schools-216.jpg"><h3>School visits</h3></a>
      </li>
      <li>
        <a href="http://insite.leeds.gov.uk/Root%20document%20library/Managing%20your%20Out%20of%20Office%20assistant.pdf" >
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Access-Visual-Discovery-Centre.jpg"><h3>Access</h3></a>
      </li>
      <li>
        <a  href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc" >
          <img style="border-width: 0px;" alt="Christmas Reminders " src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Visitor-info.jpg"><h3>Visitor information</h3></a>
      </li>
      <li>
        <a  href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC%20Adult%20workshops.jpg"><h3>Group Tours and Talks</h3></a>
      </li>
      <li>
        <a  href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC%20Behind%20the%20Scenes.jpg"><h3>Behind the scenes</h3></a>
      </li>
    <li>
        <a  href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Families%20roll%20up.jpg"><h3>What's on for families</h3></a>
      </li>

        <li>
        <a  href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC%20academic%20research2.jpg"><h3>Research and Enquiries</h3></a>
      </li> 
            <li>
        <a href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC-Group.jpg"><h3>Community Groups</h3></a>
      </li> 

            <li>
        <a  href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC-site-roll-up.jpg"><h3>Venue and facilities hire</h3></a>
      </li> 
    </ul>
    <div class="clearfix"></div>
  </div>
</div>