<div class="mega-promo">
    <div class="mega-promo__item third external">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/museumsandgalleries/images/Art_UK_by_John_Cairns_17.12.15-190.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Art Uk</h3>
                <p class="mega-promo__secondary">Veiw our art collections online</p>
            </div>
        </a>
    </div>
    <div class="mega-promo__item third external">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(/public/museumsandgalleries/images/leedsInspired2.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Leeds Inspired </h3>
                <p class="mega-promo__secondary">See what's on in leeds</p>
            </div>
        </a>
    </div>
    <div class="mega-promo__item third external">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(/public/museumsandgalleries/images/prod_15696.jpg) "></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Online Shop</h3>
                <p class="mega-promo__secondary">Leeds Museums and Galleries</p>
            </div>
        </a>
    </div>
</div>
