<div class="mega-promo">
    <div class="mega-promo__item featured ">
        <a href="/museumsandgalleries/visitorinformation.html">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/museumsandgalleries/images/LeedsWool-Festival.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Leeds Wool Festival</h3>
                <p class="mega-promo__secondary">Back for a fourth year, Leeds Wool Festival is a celebration of all things woolly!</p>
            </div>
        </a>
    </div>

    <div class="mega-promo__item third ">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/museumsandgalleries/images/ForAllSeasonsExhibition.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">For All Seasons</h3>
                <p class="mega-promo__secondary">10 February – 28 August 2017</p>
            </div>
     
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(/public/museumsandgalleries/images/Discovery-Centre-Store-tour.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">What will you find in our museum store? </h3>
                <p class="mega-promo__secondary">Take a free tour!</p>
            </div>
            <span class="mega-promo__highlight">Coming soon</span>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(/public/museumsandgalleries/images/AH_Fairy%20Tales%20and%20Fantasy%20exhibition%20at%20Abbey%20House%20Museum.jpg) "></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Fairy Tales & Fantasy</h3>
                <p class="mega-promo__secondary">21 January - 31 December 2017</p>
            </div>
        </a>
    </div>
        <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">E-newsletter</h3>
                <p class="mega-promo__secondary">keep in the now with our</p>
            </div>
        </a>
    </div>
            <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">What's on</h3>
                <p class="mega-promo__secondary">Upcoming events and workshops</p>
            </div>
        </a>
    </div>
            <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Tickets</h3>
                <p class="mega-promo__secondary">Book tickets online now</p>
            </div>
        </a>
    </div>
</div>