<div class="mega-promo">
    <div class="mega-promo__item featured lag">
        <a href="/museumsandgalleries/visitorinformation.html">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/museumsandgalleries/images/LeedsArtGallery_ArtHappens.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">See Leeds Art Gallery in a new light</h3>
                <p class="mega-promo__secondary">Find out more abut an exciting campaign at Leeds Art Gallery.</p>
            </div>
            <span class="mega-promo__highlight">Leeds Art Gallery</span>
        </a>
    </div>

    <div class="mega-promo__item half city external">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(/public/museumsandgalleries/images/ForAllSeasonsExhibition.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">For All Seasons</h3>
                <p class="mega-promo__secondary">10 February – 28 August 2017</p>
            </div>
            <span class="mega-promo__highlight">LEEDS CITY MUSEUM</span>
        </a>
    </div>
    <div class="mega-promo__item quarter discovery">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(/public/museumsandgalleries/images/Discovery-Centre-Store-tour.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">What will you find in our museum store? </h3>
                <p class="mega-promo__secondary">Take a free tour!</p>
            </div>
            <span class="mega-promo__highlight">Discovery</span>
        </a>
    </div>
    <div class="mega-promo__item quarter abbey">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(/public/museumsandgalleries/images/AH_Fairy%20Tales%20and%20Fantasy%20exhibition%20at%20Abbey%20House%20Museum.jpg) "></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Fairy Tales & Fantasy</h3>
                <p class="mega-promo__secondary">21 January - 31 December 2017</p>
            </div>
            <span class="mega-promo__highlight">ABBEY HOUSE MUSEUM</span>
        </a>
    </div>
</div>