     <div class="visitorInfo">
  <div class="container-fluid">
        <div class="col-md-3 col-sm-4">    
        <h2><i class="fa fa-clock-o" aria-hidden="true"></i> Opening Times</h2>
        <p> Mondays: Closed<br/><span> (Open Bank Holiday Mondays, 10:00 - 17:00)</span> <br/>
        Tuesday - Friday & Sundays: 10:00 - 17:00pm<br/>
        Saturday: 12:00 - 17:00pm<br/>
        <span>Last admission 16:30pm</span>
        </div>
        <div class="col-md-3 col-sm-4">   
        <h2><i class="fa fa-gbp" aria-hidden="true"></i> Prices</h2>

        <p>Adults - £6<br />Child - £3.00<br />Family(2 adults, 3 children) - £18.00<br /> Under 5s -free <br />Lothertom Membership - from £20
       </p>
        </div>
        <div class="col-md-3 col-sm-4">   
        <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Find Venue</h2>
        <p>Off Collier Lane<br /> 
Aberford <br />
Leeds <br />
LS25 3EB<br />
       </p></div>
     <div class="col-sm-12 col-md-3"> 
    
    <a href="" class="btn">Visitor Information</a>
        </div>

    </div>
    </div>