{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Child friendy leeds The story
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/childFriendlyLeeds/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Child friendy leeds The story
{% endblock %}

 {% block main_nav %}
  {% include "includes/childFriendlyLeeds/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
   {% include "includes/childFriendlyLeeds/sideNav.html" %}
  {% include "includes/childFriendlyLeeds/cflthestoryHero.html" %}
{% endblock %} 

{% block sectionOneFull%}
<hr class="ms-rteElement-spacer" />
<p class="lead">Help us make something truly unique and special happen in our city: celebrating and empowering those growing up in Leeds today and building a more socially and economically successful city in the future.</p>
<p class="ms-rteElement-P">&#8203;Our ambition is for Leeds to be the best city for all our children and young people&nbsp;to grow up in. Child friendly Leeds is the initiative for everyone who shares this ambition, from enthusiastic individuals to large organisations, every contribution counts and we can all play our part in making a difference.</p>
<hr class="ms-rteElement-spacer" />
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 

<hr class="ms-rteElement-spacer">
<h2 class="ms-rteElement-H2-center">CHILDREN'S RIGHTS&#8203;&#8203;&#8203;</h2>
<p class="lead">Leeds’ inspiration to pursue our child friendly city ambition came partly from the Child Friendly Cities work originally done by UNICEF.</p>
<p class="ms-rteElement-P">UNICEF launched the International Child Friendly Cities Initiative in 1996 in support of the UN Conven&#8203;tion on the Rights of the Child. It encouraged cities to become more liveable places for children and young people, guaranteeing their rights to essential services, and empowering them to have their voice heard and influence decisions being made that affect them.</p>
<p class="ms-rteElement-P">Leeds has taken this original UNICEF idea and used it to guide our ow&#8203;n ambitions around being the best place to grow up. Unicef UK are now working with Leeds on a ‘rights-based’ approach to make sure children know about their rights, can access services when they need them and help to design, implement and evaluate services designed for them.</p>


<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <ul>
    <li class="two contentLink border"><div class="ExternalClassE07F430F865B485B916368C543CF7EBC"><p class="equal-item"><strong class="lead">Several</strong><br>Leeds schools have become Rights Respecting Schools and others are working towards this goal.</p></div>
<a href="http://www.unicef.org.uk/rights-respecting-schools/about-the-award/"><img src="" alt=""><span class="info">Find out more<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    <li class="two contentLink border"><div class="ExternalClass66C9B877A3074EB2B6F988D691B6A5B5"><p  class="equal-item"><strong class="lead">&#8203;Leeds</strong><br>is part of a worldwide network of cities giving children and young people a stronger voice.</p></div>
<a href="http://www.breezeleeds.org/HaveYourSay/Pages/default.aspx"><img src="" alt=""><span class="info">Find out more<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    <li class="two contentLink border"><div class="ExternalClassBAA56A526B76436D97FA56BD2A100B71"><p  class="equal-item"><strong class="lead">Over 50</strong><br>schools have been accredited in the Investors in Pupils programme.<br><br></p></div>
<a href="http://www.investorsinpupils.org.uk/"><img src="" alt=""><span class="info">Find out more<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
  </ul>
  <div class="clear"></div>
</div>
<hr class="ms-rteElement-spacer">
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
                <hr class="ms-rteElement-spacer">
<h2 class="ms-rteElement-H2-center">Blogs</h2>
<p>As well as <a href="/childfriendlyleeds/Pages/Films.aspx" title="Films">talking</a>&nbsp;about child friendly Leeds, lots of people have been writing about their experiences on our child friendly Leeds blog site. There are many different contributions showing the variety of things happening in the city. &nbsp;</p>
<p>The blog site is a great place to read more about different ideas and initiatives to make Leeds more child friendly. The blog features the voices of young people, ambassadors, volunteers, leaders and organisations from across the city.</p>
<div class="ms-rteElement-div-center"><a class="ms-rteElement-button" href="http://childfriendlyleeds.wordpress.com/">&#8203;Visit our blog&#8203;</a>&#8203;<hr class="ms-rteElement-spacer">

&#8203;
    </div>
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}

{% endblock %} 

{% block sectionFiveFull%}
<hr class="ms-rteElement-spacer">
  {% include "includes/childFriendlyLeeds/socialMedia.html" %}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/childFriendlyLeeds/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}