{% extends "layout_multi_sections.html" %}

{% block page_title %}
Films
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/childFriendlyLeeds/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Films
{% endblock %}

 {% block main_nav %}
  {% include "includes/childFriendlyLeeds/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
   {% include "includes/childFriendlyLeeds/topNav.html" %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">People are talking about child friendly Leeds and the voices of children and young people are at the heart of those conversations!​</p>
<p class="ms-rteElement-P">Across the city the child friendly Leeds network regularly produce and support films to make those voices heard. See a selection of our child friendly films below and let us know if you’d like to be involved in making or sponsoring a film in the future.</p>

<div class="highlighted alt">
<div class="row">
  <div class="col-md-6">
    <h3>Child friendly Leeds: play your part!</h3>
    <p>We want Leeds to be the best city to grow up in, and to make this happen, the city is bringing together people, places and organisations to make Leeds a child friendly city. ​​</p>

   <a href="" class="btn">Test button</a>   
  </div>
  <div class="col-md-6">
<div class="media-container">
    <p>
      
         <a href="https://www.youtube.com/watch?v=oapZ3AXIMzI">Leeds City Council Graduate Programme</a>

        <a class="captions" href="/public/captions/captions-order-of-content.xml" style="display:none;">Captions</a>
        <a href="https://www.youtube.com/embed/oapZ3AXIMzI" data-youtube-player="off">This is a youtube related link</a>
    </p>
</div>
  </div>
</div>
</div>

<div class="highlighted">
<div class="row">
  <div class="col-md-6">
    <h3>Child friendly Leeds: play your part!</h3>
    <p>We want Leeds to be the best city to grow up in, and to make this happen, the city is bringing together people, places and organisations to make Leeds a child friendly city. ​​</p>

   <a href="" class="btn">Test button</a>   
  </div>
  <div class="col-md-6">
<img src="/public/childFriendlyLeeds/images/logo.png" alt=""/>
  </div>
</div>
</div>
{% endblock %}

{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
<div class="highlighted alignCenter section">
        <p><strong>Over</strong></p>
  
    <em>630</em>
    <p><strong>BUSINESSES, ORGANISATIONS AND INDIVIDUALS</strong></p>
<p>have joined our campaign to make Leeds a child 
friendly city and signed up to be a child friendly 
Leeds ambassador</p>
</div>
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
<hr class="ms-rteElement-spacer">
  {% include "includes/childFriendlyLeeds/socialMedia.html" %}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/childFriendlyLeeds/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}