{% extends "layout_multi_sections.html" %}

{% block page_title %}
	About us
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsenterprisezone/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
About us
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsenterprisezone/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<article>  

    <p class="highlight">Leeds City Region Enterprise Zone: driving local growth and major investment to Leeds and its city region; an ideal location for modern manufacturing and related supply chain companies, distribution and logistics</p>

    <p>Situated at the heart of the Leeds City Region – with an economy worth over £50 billion per annum, a 3 million population and a workforce of 1.5 million – the enterprise zone represents an unrivalled opportunity for business expansion and relocation.</p>
<p>Leeds City Region enterprise zone offers a package of incentives to stimulate investment, attract business and create new jobs, including reduced business rates worth up to £275,000 over five years,  enhanced  capital  allowances  and grants of up to £500,000 to support investment in new premises, plant and equipment.</p>
<p>It enjoys superb transport links  being  located  at  J45  of  the  M1 and  is  only  minutes from Leeds city centre, the main driver of the regional economy. Planning permission in place for a range of employment uses including large-scale manufacturing, distribution and high quality offices and major infrastructure works have been delivered.</p>
<p>The area was granted EZ designation in 2012 and development activity is now underway across all four sites within the enterprise zone – Newmarket Lane (9.2 ha), Thornes Farm (21.08 ha), Logic Leeds (49.1 ha) and Temple Green (63.04 ha). Covering a total of 142 hectares of prime development land, the sites are strategically located along the route of the East Leeds Link Road, a £32 million dual carriageway linking Leeds city centre to junction 45 of the M1 motorway.</p>
<p><img class="limitedrte-Style-image-left" alt="Constructing the Enterprise Zone" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/Inpage/About_theEZinPg.jpg" style="margin: 5px;"></p>
<p style="text-align: center;"><strong>Cllr Richard Lewis and LEP chairman Roger Marsh on site with Andrew Grant, managing director of Leeds packaging firm Samuel Grant Group.</strong></p>
<p>An experienced team of landowners and developers, including Muse Developments, Evans Property Group, Harworth Estates and Wilton Developments is working with Leeds City Council and the LCR LEP to accelerate development of the enterprise zone. Together they are delivering high quality expansion, relocation or consolidation solutions to meet the business requirements of local, regional, national and international occupiers.</p>
<p>Current phases of development are supporting hundreds of construction jobs and have the potential to deliver significant economic growth and access to job opportunities across the city region. The enterprise zone is expected to act as a catalyst for the regeneration of the wider Aire Valley Leeds which, fully developed, could deliver <span id="ms-rterangecursor-start"></span><span id="ms-rterangecursor-end"></span>over 9,500 new jobs by 2025.</p>
<p>‘Enterprise Zone’ status also allows additional business rates generated by companies locating there to be retained by the Leeds City Region Enterprise Partnership and used to fuel economic development projects and growth elsewhere in the city region.</p>
               
                </article>
                <hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<div class="contentLink blue fullBlock sideBlock downloads">
    <div class="listWebpart">
        <h2>
            
            <div id="ctl00_m_g_84b42560_4034_4056_bf3c_e150660a448a_pnlHeaderWithoutLink">
		
                <img id="ctl00_m_g_84b42560_4034_4056_bf3c_e150660a448a_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-downloads.png" alt="downloads" style="border-width:0px;">Downloads
            
	</div>
        </h2>
                <ul>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/Documents/Leeds-City-Region-EZ-brochure.pdf">
                        
                        Leeds City Region Enterprise Zone brochure</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/Documents/EZ%20at%20a%20glance2.pdf">
                        
                        Enterprise Zone at a glance</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/Documents/Aire-Valley-Leeds-Area-Action-Plan.pdf">
                        
                        Aire Valley Leeds Area Action Plan</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/Documents/LDO1-installation%20of%20solar%20panels.pdf">
                        
                        Local development order 1</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/Documents/LDO2.pdf">
                        
                        Local development order 2</a>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>

<div class="blockContent green fullBlock sideBlock downloads">
    <div class="listWebpart">
        <h2>
            

		
                <img id="ctl00_m_g_2ac797ca_fd90_47ab_8e18_dd831b982331_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-news.png" alt="Latest News " style="border-width:0px;">Latest News

        </h2>

        
                <ul>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/News/Pages/Green-Light-for-£8m-Enterprise-Zone-development.aspx">
                        
                        Green light for £8m Enterprise Zone development</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/News/Pages/Muse%27s-flagship-Logic-Leeds-development-now-open-for-business.aspx">
                        
                        Muse's flagship Logic Leeds development now open for business</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/News/Pages/Samuel-Grant-Packaging-Open-the-Doors-on-their-future.aspx">
                        
                        Samuel Grant Packaging open new warehouse</a>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
  {% include "includes/leedsenterprisezone/partners.html" %}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/leedsenterprisezone/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}