{% extends "layout_multi_sections.html" %}

{% block page_title %}
	contact
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsenterprisezone/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Contact
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsenterprisezone/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<article>  



<div class="contactsBlock">
      <h3 class="siteContacts">Leeds City Region enterprise zone</h3>
      <p>Mark Mills, Leeds City Council<br><a href="mailto:enterprise.zone@leeds.gov.uk">enterprise.zone@leeds.gov.uk</a></p>
</div>
<div class="contactsBlock">
      <h3 class="siteContacts">Logic Leeds</h3>
      <p>Ian Greenwood, Carter Towler<br><a href="mailto:iangreenwood@cartertowler.co.uk">iangreenwood@cartertowler.co.uk</a></p>
      <p>Tom Lamb, Knight Frank<br><a href="mailto:tom.lamb@knightfrank.com">tom.lamb@knightfrank.com</a></p>
</div>
<div class="contactsBlock">
      <h3 class="siteContacts">Newmarket Lane</h3>
      <p>Chris Bellamy, Leeds City Council<br><a href="mailto:christopher.bellamy@leeds.gov.uk">christopher.bellamy@leeds.gov.uk</a></p>
</div>
<div class="contactsBlock">
      <h3 class="siteContacts">Temple Green</h3>
      <p>Mike Dove, Dove Haigh Phillips<br><a href="mailto:mike.dove@dhp.org.uk">mike.dove@dhp.org.uk</a></p>
</div>
<div class="contactsBlock">
      <h3 class="siteContacts">Thornes Farm</h3>
      <p>Martin Blackett, Leeds City Council<br><a href="mailto:martin.blackett@leeds.gov.uk">martin.blackett@leeds.gov.uk</a></p>
      <p>Nick Arundel, AWS Ltd<br><a href="mailto:nick@awsltd.co.uk">nick@awsltd.co.uk</a></p>
</div>
<div class="contactsBlock">
      <h3 class="siteContacts">Connex 45 (Thornes Farm)</h3>
      <p>Mike Baugh, CBRE<br><a href="mailto:mike.baugh@cbre.com">mike.baugh@cbre.com</a></p>
      <p>Rob Whatmuff, Lambert Smith Hampton<br><a href="mailto:rwhatmuff@lsh.co.uk">rwhatmuff@lsh.co.uk</a></p>
</div>
                  

    	

                </article>
                <hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<div class="blockContent sideBlock "> 
   <div class="listWebpart"> 
      <ul> 
         <li class="equal-item col-md-3 red" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_8362be07_35d0_49e4_9a6e_fda410c99c5b_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-delivery.png" alt="delivery icon" style="border-width:0px;"> 
               <h2>LOCATION</h2> 
               <p>Find out more about partnerships, funding or training opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
         <li class="equal-item col-md-3 orange" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_4d27b503_bf98_4cee_b6d2_bc4da2aab7e1_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-benefits.png" alt="benefits" style="border-width:0px;">
               <h2>BENIFITS</h2> 
               <p>Find out more about partnerships, funding or training opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
         <li class="equal-item col-md-3 purple" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_4ff88f56_320c_4e07_b07a_bed95e67d8bc_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-sites.png" alt="sites icon" style="border-width:0px;">
               <h2>SITES</h2> 
               <p>Find out more about partnerships, funding or traini&#8203;ng opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 

                  <li class="equal-item col-md-3 teal" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_8362be07_35d0_49e4_9a6e_fda410c99c5b_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-delivery.png" alt="delivery icon" style="border-width:0px;">
               <h2>DELIVERY</h2> 
               <p>Find out more about partnerships, funding or traini&#8203;ng opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
      </ul> 
      <div class="clearfix"> &#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</div> 
   </div> 
</div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
  {% include "includes/leedsenterprisezone/partners.html" %}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/leedsenterprisezone/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}