{% extends "layout_multi_sections.html" %}

{% block page_title %}
	Sites
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/leedsenterprisezone/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Sites
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedsenterprisezone/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<article>  

    <p class="highlight">Covering a total of 142 hectares of prime development land, the sites which make up the Leeds City Region enterprise zone are strategically located along the route of the East Leeds Link Road, a £32 million dual carriageway which links Leeds city centre to junction 45 of the M1 motorway.</p>

    <p>All four sites – Newmarket Lane, Thornes Farm, Logic Leeds and Temple Green – have planning consents already in place for a range of employment uses including large-scale manufacturing, distribution and high quality offices.</p>



<div class="blockContentSites">
    <div class="listWebpart">
        <h2>
            
            <div id="ctl00_m_g_cbaee6d7_eb28_4b31_9023_a6b48f7c335f_pnlHeaderWithoutLink">
		
                <img id="ctl00_m_g_cbaee6d7_eb28_4b31_9023_a6b48f7c335f_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/Newmarket-Lane.png" alt="Newmarket Lane" style="border-width:0px;">Newmarket Lane
            
	</div>
        </h2>
        <div class="freeContentArea">
          
          <p>4.8 hectare site with the&nbsp;capacity to deliver a total of 18,000 sq m of employment uses including offices, general industrial, waste, storage and distribution premises.</p>
<p>Veolia Environmental's £180m Energy from Waste (EfW) plant is now fully operational. </p>
<p>Plot 3 - Planning consent granted with the land being developed in various plot sizes to accommodate specific user requirements.<br></p>
        </div>
        
                <ul>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/Pages/Newmarket-Lane.aspx">
                        
                        More info</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/Business/Pages/Council-owned-land-and-property-for-sale-or-to-let.aspx">
                        
                        Council owned land and property</a>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>



<div class="blockContentSites">
    <div class="listWebpart">
        <h2>
            
            <div id="ctl00_m_g_23d91c2f_22df_4016_b4b2_65597b117230_pnlHeaderWithoutLink">
		
                <img id="ctl00_m_g_23d91c2f_22df_4016_b4b2_65597b117230_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/thornes-farm.jpg" alt="Thornes Farm" style="border-width:0px;">Thornes Farm
            
	</div>
        </h2>
        <div class="freeContentArea">
          
          <p>21.08 hectare site with 205,000 sq ft of industrial premises recently developed&nbsp;including&nbsp;6 units complete and operational.</p><br>
        </div>
        
                <ul>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/leedsenterprisezone/Pages/Thornes-Farm.aspx">
                        
                        More info</a>
                </li>
            
                <li>
                    
                    <a href="http://www.leeds.gov.uk/Business/Pages/Council-owned-land-and-property-for-sale-or-to-let.aspx">
                        
                        Council-owned land and property</a>
                </li>
            
                <li>
                    
                    <a href="http://www.wiltondevelopments.co.uk/www/view.asp?content_id=108&amp;parent_id=13">
                        
                        Connex 45</a>
                </li>
            
                </ul>
            
        <div class="clear"></div>
    </div>
</div>
               
                </article>
                <hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneFullBottom %}
{% endblock %}

{% block sectionOneRightHandColumn %}
<div class="contentLink sideBlock "> 
   <div class="listWebpart"> 
      <ul> 
         <li class="equal-item col-md-3 red" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_8362be07_35d0_49e4_9a6e_fda410c99c5b_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-delivery.png" alt="delivery icon" style="border-width:0px;"> 
               <h2>LOCATION</h2> 
               <p>Find out more about partnerships, funding or training opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
         <li class="equal-item col-md-3 orange" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_4d27b503_bf98_4cee_b6d2_bc4da2aab7e1_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-benefits.png" alt="benefits" style="border-width:0px;">
               <h2>BENIFITS</h2> 
               <p>Find out more about partnerships, funding or training opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
         <li class="equal-item col-md-3 purple" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_4ff88f56_320c_4e07_b07a_bed95e67d8bc_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-sites.png" alt="sites icon" style="border-width:0px;">
               <h2>SITES</h2> 
               <p>Find out more about partnerships, funding or traini&#8203;ng opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 

                  <li class="equal-item col-md-3 teal" style="height: 694px;"> 
            <div>
               <img id="ctl00_m_g_8362be07_35d0_49e4_9a6e_fda410c99c5b_imgWithoutLink" src="http://www.leeds.gov.uk/leedsenterprisezone/PublishingImages/icons/icon-delivery.png" alt="delivery icon" style="border-width:0px;">
               <h2>DELIVERY</h2> 
               <p>Find out more about partnerships, funding or traini&#8203;ng opportunities for you and your colleagues. Be bang up to date with the latest events and activities for the children, young people and families you work with.</p> 
               <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" class="btn btn-primary">Join today</a> </div> 
         </li> 
      </ul> 
      <div class="clearfix"> &#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;</div> 
   </div> 
</div>
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
  {% include "includes/leedsenterprisezone/partners.html" %}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/leedsenterprisezone/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}