{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	How to become a foster carer | Foster4Leeds
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
How to become a foster carer
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>How to become a foster carer</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

<div class="text">
    <p class="lead">Information on what happens after you register your interest in becoming a foster carer with us.</p>

    <h2>I've registered my interested - what happens next?</h2>
    <p>Once you’ve <a href="/foster4leeds2017/who-can-be-a-foster-carer.html">read about eligibility and registered your interest</a>, you will be guided through the application process. It usually takes about six months.</p>
    <p>The steps that we go through while we get to know you and prepare you for fostering are:</p>
    <ol class="list list-step">
        <li>A home visit</li>
        <li>Completion of an application form</li>
        <li>Attending a three day training course</li>
        <li>General medical and criminal records check (known as a Disclosure and Barring Service – DBS check)</li>
        <li>Working with a social worker on your assessment and portfolio</li>
        <li>Attending a fostering panel</li>
        <li>Registration as a foster carer</li>
    </ol>

    <div role="note" aria-label="Information" class="text-highlight">
    <p>Throughout the whole process you will be offered support, advice and the opportunity to ask questions.</p>
    </div> 
        
    <!--<a id="contact"></a>
    <div class="panel">
        <h2>Contact us</h2>
        <p><strong>Phone</strong></p>
        <div class="text-block">
                0113 378 3538<br/>
            <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
        </div>
        <p><strong>Email</strong></p>
        <div class="text-block">
            <a href="mailto:foster4leeds@leeds.gov.uk">foster4leeds@leeds.gov.uk</a>
        </div>
        <p><strong>Post</strong></p>
        <div class="text-block">
            <p>Children's Social Work Services<br/>
                P.O. Box 837<br/>
                Leeds city council<br/>
                LS1 9PZ</p>
        </div>
    </div>-->
    

    
</div>

{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}

{% endblock %} 

{% block sectionTwoFull%} 
{% include "includes/foster4leeds2017/panel-box-promo-register.html" %}
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}