{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
Hear what our foster carers have to say
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
Hear what our foster carers have to say
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>Hear what our foster carers have to say</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

<div class="text">
    <p class="lead">Learn about fostering experiences of real foster carers and young people.</p>
</div>

<div class="panel">
    <div class="row">
        <div class="col-md-6">
            <h3 class="heading-large">Experiences of fostering</h3>
            <p>Meet some of the wonderful people who help make a difference to the lives of young people in Leeds by becoming foster carers.</p>
        </div>
        <div class="col-md-6">
            <div class="media-container">
                <p>
                    <a rel="external" href="https://www.youtube.com/watch?v=KY8NthimF4Y">Experiences of fostering</a>
                </p>
            </div>
        </div>
    </div>
</div>
    
    <div class="panel">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="heading-large">Being a foster carer</h3>
                    <p>Have you ever considered fostering a teenager? Listen to Andy, Connor, Viv, Caitlin and Sarah talk about their experiences of fostering and being fostered.</p>
                </div>
                <div class="col-md-6">
                    <div class="media-container">
                        <p>
                            <a rel="external" href="https://www.youtube.com/watch?v=5btaHjmCWAs">Fostering as a career</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="heading-large">Caring for disabled children in Leeds</h3>
                        <p>Meet some of the team who help us care for disabled children in Leeds. Denise, Gillian, Kathy, Catherine, Mick and Anjula talk about their own personal experiences.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="media-container">
                            <p>
                                <a rel="external" href="https://www.youtube.com/watch?v=W8TvA6_9oTU">Caring for disabled children in Leeds</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="heading-large">Caring for a young asylum seeker</h3>
                            <p>Liz and Ian tell you about the rewards and experiences of fostering a young asylum seeking child.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="media-container">
                                <p>
                                    <a rel="external" href="https://www.youtube.com/watch?v=PcoHmcEKyrU">Caring for a young asylum seeker</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="heading-large">Fostering as a career</h3>
                                <p>Being a foster carer is a valuable career, listen to Heather talking about her journey and experiences.</p>
                            </div>
                            <div class="col-md-6">
                                <div class="media-container">
                                    <p>
                                        <a rel="external" href="https://www.youtube.com/watch?v=xIIzKcTZzkc">Fostering as a career</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    
    
    
    
    
   

{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}