{% extends "layout_multi_sections-lcc.html" %}

{% block page_title %}
	What is fostering? | Foster4Leeds
{% endblock %}


{% block css_register %}
    <link href="{{ asset_path }}foster4leeds2017/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block additional_page_scripts %}
{% endblock %}  
 

{% block header %}
What is fostering?
{% endblock %}

 {% block main_nav %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}


 {% block breadcrumb %}
<ul>
    <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>
        <a href="/foster4leeds2017">Home</a>
        <ul class="">
            <li class=""><span class="s4-breadcrumb-arrowcont"><img src="/_layouts/15/images/nodearrow.png" alt="" style="display:inline-block;padding-top:4px;"></span>What is fostering?</li>
        </ul>
    </li>
</ul>
 {% endblock %}

{% block sectionOneContent %}

{% endblock %}

{% block pageContent %}

<div class="text">
    <p class="lead">Fostering is when children who aren’t able to live with their birth families are placed in a safe and loving family home on a temporary basis.</p>
    <p>There are <a href="/foster4leeds2017/who-can-I-foster/who-can-I-foster.html">several kinds of fostering</a>, and you can foster for a few nights to years, depending on the situation.</p>
    <p>We have age ranges from babies up to 18 year olds that need foster homes. You could make a big difference to their lives by listening to their needs, forming a stable relationship and providing a caring and loving home.</p>
    
    <h2>What we do</h2>
    <p>All our foster carers are provided with training and support from a team of social workers.</p>
    <p>We currently support hundreds of foster families and are always looking for more. We match foster carers with children and help you and the child through the fostering process.</p>

    <h2>Find out about fostering with Leeds at one of our drop in events</h2>
    <p>(David Hunter is designing an event promo pattern)</p>
       
        
    <a id="contact"></a>
    <div class="panel">
        <h2>Contact us</h2>
        <p><strong>Phone</strong></p>
        <div class="text-block">
                0113 378 3538<br/>
            <span class="font-xsmall">(Monday to Friday, 9am to 5pm)</span>
        </div>
        <p><strong>Email</strong></p>
        <div class="text-block">
            <a href="mailto:foster4leeds@leeds.gov.uk">foster4leeds@leeds.gov.uk</a>
        </div>
        <p><strong>Post</strong></p>
        <div class="text-block">
            <p>Children's Social Work Services<br/>
                P.O. Box 837<br/>
                Leeds city council<br/>
                LS1 9PZ</p>
        </div>
    </div>
    

    
</div>

{% endblock %}

{% block sectionOneRightHandColumn %}

<nav role="navigation">
    <div class="sideNav">
        <h3>Related pages</h3> 	    	
        <ul class="nav">
            <li><a class="item" href="#">Link 1</a></li>
            <li><a class="item" href="#">Link 2</a></li>
            <li><a class="item" href="#">Link 3</a></li>
            <li><a class="item" href="#">Link 4</a></li>
            <li><a class="item" href="#">Link 5</a></li>        	                                                               	        
        </ul>	    
    </div>
</nav>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% include "includes/foster4leeds2017/section-promo-quote.html" %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/foster4leeds2017/footer_foster4leeds2017.html" %}
 {% endblock %}