{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Foster 4 leeds Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/foster4leeds/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/foster4leeds/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

     <hr class="ms-rteElement-spacer" />
<div class="mega-promo">
    <div class="mega-promo__item third">
        <a href="/foster4leeds/intro.html">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b9vpc8i018s3o1qt3i1lj01lf43.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Introducing you to fostering</h3>
                <p class="mega-promo__secondary">So you're interested in fostering for Leeds. Great</p>
            </div>
             <span class="mega-promo__highlight">Intro</span>
        </a>
    </div>

    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b39ub27j1k4cmn51a031mu71nk93.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Your benefits</h3>
                <p class="mega-promo__secondary">Leeds foster carers get more back than you'd imagine</p>
            </div>
            <span class="mega-promo__highlight">Your benefits</span>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b39umvf61c15j1s17p4b4n13lk3.jpg"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">We offor the best support</h3>
                <p class="mega-promo__secondary">See why choosing Foster4Leeds is your best option</p>
            </div>
            <span class="mega-promo__highlight">Best support</span>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="/museumsandgalleries/visitorinformation.html">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b2q1itsr6abtf323n16h976u3.jpg"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Who can foster</h3>
                <p class="mega-promo__secondary">Who gets involved in fostering? It's caring Leeds people like you </p>
            </div>
             <span class="mega-promo__highlight">Who can foster</span>
        </a>
    </div>

    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b2q3g6p7rct1q5ukji44d1jdj3.jpg)"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Meet the Carers</h3>
                <p class="mega-promo__secondary">Leeds foster carers share their experiences</p>
            </div>
        </a>
    </div>
    <div class="mega-promo__item third">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1bfjqbrjim631qtkl961pae1lvl3.jpg"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Best together</h3>
                <p class="mega-promo__secondary">Your top choice when it comes to fostering? Your local authority</p>
            </div>
        </a>
    </div>
       
        <div class="mega-promo__item quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b39s7lcnuv8vvs16cs16e61pk3.jpg"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Results</h3>
                <p class="mega-promo__secondary">Leeds' foster carers and young people talk openly about experiences</p>
            </div>
        </a>
    </div>

        <div class="mega-promo__item quarter">
        <a href="/museumsandgalleries/visitorinformation.html">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b39oqo5tedb1alh15i1uui49s3.jpg"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Share Please</h3>
                <p class="mega-promo__secondary">Spread the word about Foster4Leeds and what it means for carers and children</p>
            </div>
        </a>
    </div>

    <div class="mega-promo__item quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background-image: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b39r2gruk8kisd16nmr68tvi3.jpg"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Types needed</h3>
                <p class="mega-promo__secondary">Disabilities, asylum seeking young people, LGBT... yes, Foster4Leeds is inclusive</p>
            </div>
        </a>
    </div>
    <div class="mega-promo__item quarter">
        <a href="#">
            <div class="mega-promo__img-wrapper">
                <div class="mega-promo__img" style="background: url(https://dunked.cdn.speedyrails.net/assets/prod/113769/750x0-0_p1b39o72s7197g17311ogn1oob10tp3.jpg"></div>
            </div>
            <div class="mega-promo__content">
                <h3 class="mega-promo__header">Futher reading</h3>
                <p class="mega-promo__secondary">We answer your questions at Foster4Leeds</p>
            </div>
        </a>
    </div>

</div>
     <hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}
 

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/foster4leeds/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}