{% extends "layout_multi_sections.html" %}

{% block page_title %}
Intro
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}foster4leeds/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Intro
{% endblock %}

 {% block main_nav %}
  {% include "includes/foster4leeds/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<div class="fluid-width-video-wrapper"><iframe src="https://www.youtube.com/embed/DUYXubZ4ih4?ecver=1" alt="DUYXubZ4ih4?ecver=1" name="fitvid0"></iframe></div>

<h2>So you're interested in fostering for Leeds. Great</h2>

<p class="lead">As a start, we'll keep things simple.&nbsp;</p>

<p>If you are interested in becoming a foster carer, the most important thing you can do is call us on 0113 378 3538. Please.</p>

<p><i>With 711 fostering households in Leeds and beyond, why wouldn't you want to </i><i><a href="https://twitter.com/hashtag/foster4leeds?src=hash" title="Link: https://twitter.com/hashtag/foster4leeds?src=hash">#foster4leeds</a>&nbsp;</i><i>You're in safe hands&nbsp;</i><a href="https://t.co/U3z2CqU3ix" title="Link: https://t.co/U3z2CqU3ix" style="font-size:16px;font-weight:bold;"><i>https://t.co/U3z2CqU3ix</i></a><i><a href="https://t.co/eaYnFU7yMF" title="Link: https://t.co/eaYnFU7yMF" style="font-size:16px;font-weight:bold;">pic.twitter.com/eaYnFU7yMF</a>&nbsp;</i><i>— Leeds Fostering (@LdsFosteringAdv) </i><i><a href="https://twitter.com/LdsFosteringAdv/status/822182797347606528" title="Link: https://twitter.com/LdsFosteringAdv/status/822182797347606528" style="font-size:16px;font-weight:bold;">January 19, 2017</a></i></h2>

<h2>#foster4leeds</h2>

<a href="https://www.flickr.com/photos/154853959@N08/albums/72157681726928421" title="Recruitment"><img src="https://c1.staticflickr.com/5/4173/34653415526_1a52295fca_z.jpg" title="Image: https://c1.staticflickr.com/5/4173/34653415526_1a52295fca_z.jpg" alt="Recruitment"></a><br><p>click photo for pics album</p>
<hr class="ms-rteElement-spacer" />
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/foster4leeds/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
         {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}