{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Leeds city museum Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}museumsandgalleries/stylesheets/leedscitymuseum_subsite.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_navLov.html" %}
 {% endblock %}



 {% block sectionOneTop %}


<div class="heroBanner" style="background: transparent url(/public/museumsandgalleries/images/6243791632_img_9012-768x512.jpg) no-repeat scroll center center;">


    <div class="visitorInfo">
  <div class="container-fluid">
        <div class="col-md-3 col-sm-4">    
        <h2>Opening Times</h2>
        <p>Monday: Closed. (Open 11:00 - 17:00 on bank holidays)<br />

Tuesday - Friday: 10:00 - 17:00<br />

Saturday & Sunday: 11:00 - 17:00 </p>
        </div>
        <div class="col-md-3 col-sm-4">   
        <h2>Prices</h2>

        <p>Free<br /><br />There may be a charge for some special exhibitions and this will be advertised seperately. 
       </p>
        </div>
        <div class="col-md-3 col-sm-4">   
        <h2>Find Leeds City Museum</h2>
        <p>Millennium Square <br />
Leeds <br />
LS2 8BH <br />
       </p></div>
     <div class="col-sm-12 col-md-3"> 
    
    <a href="" class="btn">Visitor Information</a>
        </div>

    </div>
    </div>

      <div class="container-fluid">
    <a href="#" class="">For All Seasons<span>The latest exhibition at City Museum</span></a>
     </div>

</div>       

{% endblock %} 

{% block sectionOneFull%}
    <hr class="ms-rteElement-spacer" />
<div class="groupPromo default">
  <div class="listWebpart">
    <div class="freeContentArea">
    </div>
    <ul>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LCM_Schools.jpg">School and group visits</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Managing%20your%20Out%20of%20Office%20assistant.pdf" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LCM_Family%20fun.jpg">Family and holiday fun</a>
      </li>
      <li>
        <a class="equal-item" href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc" style="height: 199px;">
          <img style="border-width: 0px;" alt="Christmas Reminders " src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Access-Visual-Leeds-City-Museum.jpg">Access</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Venue_Hire.jpg">Venue Hire</a>
      </li>
      <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LCM_Youth%20Programme.jpg">Youth programme</a>
      </li>
    <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LCM%20Museum%20Minis.JPG">Museum Minis</a>
      </li>

        <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Leeds%20City%20Museum_Adult-Events.jpg">Adult Events Programme</a>
      </li> 
    </ul>
    <div class="clearfix"></div>
  </div>
</div>




<hr class="ms-rteElement-spacer" />



{% endblock %}

     {% block sectionOneHalf %}
     {% endblock %}


          {% block sectionOneHalfRight %}

          {% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}



{% block sectionOneRightHandColumn %}



{% endblock %}

{% block sectionOneThirdCol1 %}
  <div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/LCM_Community%20Choir%20at%20Leeds%20City%20Museum.jpg) no-repeat"></span><span>New for 2017: Chommunity Choir</span>  </a>
</div>
 {% endblock %}

 {% block sectionOneThirdCol2 %}
  <div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/LCM_Dying-Matters.jpg) no-repeat"></span><span>Dying Matters - a new community display</span>  </a>
</div>
 {% endblock %}

{% block sectionOneThirdCol3 %}
<div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/LCM_Window-Frame.jpg) no-repeat"></span><span>The window frame project</span>  </a>
</div>
 {% endblock %}


{% block sectionTwoTop %}

<!--    <div class="highlighted equal-item alignCenter col-md-4 section"><em>E-newsletter <i class="fa fa-envelope-o" aria-hidden="true"></i></em><p>keep in the now with our </p><a href="" class="btn">Sign up  now</a></div> 
    <div class="highlighted alt  equal-item alignCenter col-md-4 section"><em>What's on <i class="fa fa-calendar" aria-hidden="true"></i></em><p>Upcoming events and workshops</p><a href="" class="btn">See what's on</a></div>  
    <div class="highlighted equal-item alignCenter col-md-4 section"><em>Tickets <i class="fa fa-ticket" aria-hidden="true"></i></em><p>Available online</p><a href="" class="btn">Book tickets  now</a></div> -->
{% endblock %} 

{% block sectionTwoFull%} 




   <hr class="ms-rteElement-spacer" />                    

<div class="promoListWebpart">
  <div class="">
<ul>
            
         
              
          <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/gf-winner-park-2.jpg) no-repeat"  rel="external" href="articlePage.html"><span class="info">Green flag award<span class="secondaryInfo">Raising the standard of 
Parks and Green Spaces</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 


    <li class="two heightTwo">
     <a style="background: url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/Leeds%20Museums%20and%20Galleries%20What%27s%20On.jpg) no-repeat"  rel="" href="articlePage.html"><span class="info">What's on<span class="secondaryInfo">Leeds City Museum</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li>  

                  <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/prod_15696.jpg) no-repeat"  rel="external" href="articlePage.html"><span class="info">Online Shop<span class="secondaryInfo">Leeds Museums and Galleries</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 


     </ul>




   <hr class="ms-rteElement-spacer" />                    


  </div>
</div>

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
     {% include "includes/museums/footer_navLov.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/museums/re-userble-content-footer.html" %}
 {% endblock %}