{% extends "layout_multi_sections.html" %}

{% block page_title %}
collectionsList
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}museumsandgalleries/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Collections List
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<div class="groupPromo">
  <div class="listWebpart">
    <ul >
        
            <li>
                <a href="/museumsandgalleries/pages/CollectionSummary.aspx?type=department&amp;clid=7">
                      <img src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/TMS/Archaeology.jpg">
                <h3>Archaeology</h3>
                    
                      
                    
                </a>
            </li>
        
            <li>
                <a href="http://www.leeds.gov.uk/museumsandgalleries/pages/CollectionSummary.aspx?type=department&amp;clid=16"> 
                    
                            <img src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/TMS/Dress-and-Textiles.jpg">
                            <h3>Natural Sciences</h3>
                    
                </a>
            </li>
        
            <li>
                <a href="http://www.leeds.gov.uk/museumsandgalleries/pages/CollectionSummary.aspx?type=department&amp;clid=17">
                    
                            <img src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/TMS/World-Cultures.jpg">
                            <h3>Social History</h3>
                </a>
            </li>
        
    </ul>
</div>
</div>
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reusablecontent_footer %}
         {% include "includes/museums/reusable-content-footer.html" %}
 {% endblock %}