{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Discovery Centre Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}museumsandgalleries/stylesheets/discoverycentre_subsite.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_navLov.html" %}
 {% endblock %}



 {% block sectionOneTop %}    
{% endblock %} 

{% block sectionOneFull%}




{% endblock %}

     {% block sectionOneHalf %}
     {% endblock %}


          {% block sectionOneHalfRight %}

          {% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}



<div class="ms-webpart-zone ms-fullWidth">
	<div id="MSOZoneCell_WebPartctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
		<div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
			<div webpartid="cf68babb-44fa-49df-8ea4-de5844f7ab90" haspers="false" id="WebPartctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90" width="100%" class="ms-WPBody " allowdelete="false" allowexport="false" style=""><div id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90">
				

<script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>

<script type="text/javascript">
    function validEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }
    function validateEmail(source, args) {
        if (validEmail(document.getElementById('ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtEmail').value)) {
            args.IsValid = true;
        }
        else {
            args.IsValid = false;
        }
    }
    function validateName(source, args) {
        if (document.getElementById('ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtName').value == '') {
            args.IsValid = false;
        }
        else {
            args.IsValid = true;
        }
    }
    function validateComment(source, args) {
        if (document.getElementById('ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtBody').value == '' || document.getElementById('ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtBody').value.length>1000) {
            args.IsValid = false;
        }
        else {
            args.IsValid = true;
        }
    }
</script>

<div class="pageCommentsControl"><h2>All comments(2)</h2><div class="comment"><div class="detailsContainer"><span><strong>someone</strong>  4/25/2017 1:56:25 PM</span><p>some more comments</p></div></div><div class="comment"><div class="detailsContainer"><span><strong>matt</strong>  4/25/2017 1:30:15 PM</span><p>test comments</p></div></div></div></div>
<div id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_AddCommentsDiv">

<div id="Contact-US" data-module="ContactUs">

            <div class="alert alert-success" role="alert">
            <div class="alertInner">
                <p class="lead"><span id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_lblResult">Success you have filled in your form</span></p>
            </div>
        </div>

        <div id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtNameDiv" class="form-group">
            <label for="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtName">Name </label>
            <input name="ctl00$ctl47$g_cf68babb_44fa_49df_8ea4_de5844f7ab90$ctl00$txtName" type="text" maxlength="50" id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtName" class="lcc-input">
            
            <span id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtNameValidator" class="alert" style="display:none;">Please enter Name</span>
        </div>
        <div id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtEmailDiv" class="form-group">
            <label for="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtEmail">Email Address </label>
            <input name="ctl00$ctl47$g_cf68babb_44fa_49df_8ea4_de5844f7ab90$ctl00$txtEmail" type="text" maxlength="50" id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtEmail" class="lcc-input">
            
            <span id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtEmailCustomValidator" class="alert" style="display:none;">Please enter valid email address</span>
        </div>
         <div id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtBodyDiv" class="form-group">
            <label for="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtBody">Comments </label>
            <textarea name="ctl00$ctl47$g_cf68babb_44fa_49df_8ea4_de5844f7ab90$ctl00$txtBody" rows="2" cols="20" id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtBody" class="lcc-input" onkeypress="return this.value.length<=1000"></textarea>
        
            
            <span id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_txtBodyCustomValidator" class="alert" style="display:none;">Please enter Comments between 1 - 1000 characters</span>
        </div>
        <div id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_divRecaptcha" class="recaptcha">
            <div>
                <div>
                    <div class="g-recaptcha" data-sitekey="6LdKcRUTAAAAANf7GSp08gjotDLHIWqCPDUm5BwL"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LdKcRUTAAAAANf7GSp08gjotDLHIWqCPDUm5BwL&amp;co=aHR0cDovL3doYXRzb24tMjAxMy5sZWVkcy5nb3YudWs6ODA.&amp;hl=en&amp;v=r20170411114922&amp;size=normal&amp;cb=h3kc5xvgia6c" title="recaptcha widget" width="304" height="78" frameborder="0" scrolling="no" name="undefined"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>
                    <label id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_lblErrorMessage" style="color:red"></label>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <input type="submit" name="ctl00$ctl47$g_cf68babb_44fa_49df_8ea4_de5844f7ab90$ctl00$btnSubmit" value="Submit Comments" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl47$g_cf68babb_44fa_49df_8ea4_de5844f7ab90$ctl00$btnSubmit&quot;, &quot;&quot;, true, &quot;CommentsGroup&quot;, &quot;&quot;, false, false))" id="ctl00_ctl47_g_cf68babb_44fa_49df_8ea4_de5844f7ab90_ctl00_btnSubmit" class="btn btn-primary">
        
   
        
        

    </div>



			</div><div class="ms-clear"></div></div>
		</div>
	</div>
</div>





















    <hr class="ms-rteElement-spacer" />
<div class="groupPromo default">
  <div class="listWebpart">
    <div class="freeContentArea">
    </div>
    <ul>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Level%203%20page%20images/DC-Schools-216.jpg">School visits</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/Root%20document%20library/Managing%20your%20Out%20of%20Office%20assistant.pdf" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Access-Visual-Discovery-Centre.jpg">Access</a>
      </li>
      <li>
        <a class="equal-item" href="https://essmsslive.leeds.gov.uk/sap/bc/ui2/nwbc" style="height: 199px;">
          <img style="border-width: 0px;" alt="Christmas Reminders " src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Visitor-info.jpg">Visitor information</a>
      </li>
      <li>
        <a class="equal-item" href="http://insite.leeds.gov.uk/toolkits/Pages/Bank-holidays-and-Christmas-leave.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC%20Adult%20workshops.jpg">Group Tours and Talks</a>
      </li>
      <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC%20Behind%20the%20Scenes.jpg">Behind the scenes</a>
      </li>
    <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/Families%20roll%20up.jpg">What's on for families</a>
      </li>

        <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC%20academic%20research2.jpg">Research and Enquiries</a>
      </li> 
            <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC-Group.jpg">Community Groups</a>
      </li> 

            <li>
        <a class="equal-item" href="http://appzone.leeds.gov.uk/sites/marketplace/Lists/MarketplaceItems/AllItems.aspx" style="height: 199px;">
          <img style="border-width: 0px;" src="http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Roll%20Up%20Images/LMDC-site-roll-up.jpg">Vene and facilities hire</a>
      </li> 
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<p class="lead">Leeds Discovery Centre is located 1.5 miles south from the city centre, near Leeds Dock and the Royal Armouries Museum.</p>
<div class="row">
<div class="col-md-6">
    <div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/Leeds%20Museums%20and%20Galleries%20West%20Yorkshire%20Hoard.jpg) no-repeat"></span><span>Discover the Secret Lives of Objects blog</span>  </a>
</div>
</div>
<div class="col-md-6">
    <div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/LMDC%20store.jpg) no-repeat"></span><span>Museums store tours</span>  </a>
</div>
</div>
</div>

<hr class="ms-rteElement-spacer" />
{% endblock %}



{% block sectionOneRightHandColumn %}
<hr class="ms-rteElement-spacer" />
<div class="sectionSubsite">
<h2>Contact us</h2>
<a href="http://www.leeds.gov.uk/Pages/ContactByEmail.aspx?termID=2432"  class="arrow" >Email us</a> </div>



<div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/Leeds%20Museums%20and%20Galleries%20What%27s%20On.jpg) no-repeat"></span><span>What's on at Leeds Discovery Centre</span>  </a>
</div>

<div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/LMG-enewsletter_small.jpg) no-repeat"></span><span>Join our mailing list</span>  </a>
</div>

<div class="sectionSubsite">
<h2>External links</h2>
<div>
    <p>Disclaimer: Leeds City Council (LCC) are not responsible
        for the content on any external site.</p>
</div> 
<a href="http://www.lmgshoponline.com/"  rel="external" class="link">Shop online at Leeds Museums and Galleries</a> </div>


{% endblock %}

{% block sectionOneThirdCol1 %}

 {% endblock %}

 {% block sectionOneThirdCol2 %}

 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}

<!--    <div class="highlighted equal-item alignCenter col-md-4 section"><em>E-newsletter <i class="fa fa-envelope-o" aria-hidden="true"></i></em><p>keep in the now with our </p><a href="" class="btn">Sign up  now</a></div> 
    <div class="highlighted alt  equal-item alignCenter col-md-4 section"><em>What's on <i class="fa fa-calendar" aria-hidden="true"></i></em><p>Upcoming events and workshops</p><a href="" class="btn">See what's on</a></div>  
    <div class="highlighted equal-item alignCenter col-md-4 section"><em>Tickets <i class="fa fa-ticket" aria-hidden="true"></i></em><p>Available online</p><a href="" class="btn">Book tickets  now</a></div> -->
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
     {% include "includes/museums/footer_navLov.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
         {% include "includes/museums/re-userble-content-footer.html" %}
 {% endblock %}