{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Museums Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}museumsAndGalleries/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
 <section id="reveal">
           <div class="revealHeader">
                <a href="#"><span class="textLink">See all our Nine venues</span><span class="icon"></span></a>
            </div>
           
           <div id="revealContent">
                    <div class="container-fluid">
                        <ul id="museumList">
                            <li class="title">
                                <h2>Nine Venues</h2>
                                <p>Find out all about our nine fascinating museum sites and discover all the fun</p>
                            </li>

                            <li class="thwaite">
                                    <h3><span>Thwaite Mills Watermill</span><img class="" src="/public/museumsAndGalleries/images/logo_white-thwaite.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-thwaites.jpg" alt="A map of Thwaites location">
                                            <p>Thwaite Mills is one of the last remaining examples in Britain of a water-powered mill.</p>
                                        </div>
                                         <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>                    
                            <li class="abbey">
                                    <h3><span>Abbey House Museum</span><img class="" src="/public/museumsAndGalleries/images/logo_white-abbey.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-abbey.jpg" alt="A map of Thwaites location">
                                            <p>A lively, interactive museum which was short-listed for the Guardian ‘Kids in Museum Family Friendly Award’ in 2011.</p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="discovery">
                                    <h3><span>Leeds Discovery Museum</span><img class="" src="/public/museumsAndGalleries/images/logo_white-discovery.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-discovery.jpg" alt="A map of Thwaites location">
                                            <p>Home to over a million wonders, Leeds Museums Discovery Centre cares for the city’s collections.&#8203;</p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>                    
                            <li class="kirkstall">
                                    <h3><span>Kirkstall Abbey</span><img class="" src="/public/museumsAndGalleries/images/logo_white-kirkstall.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-kirkstall.jpg" alt="A map of Thwaites location">
                                            <p>Kirkstall Abbey boast historic architecture amid a haven of wildlife and greenery.</p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="lag">
                                    <h3><span>Leeds Art Gallery</span><img class="" src="/public/museumsAndGalleries/images/logo_white-lag.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-lag.jpg" alt="A map of Thwaites location">
                                            <p>Located in the city centre and free of charge, the art gallery offers an inspiring and fun visit for all.</p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>                    
                            <li class="lim">
                                    <h3><span>Leeds Industrial Museum</span><img class="" src="/public/museumsAndGalleries/images/logo_white-lim.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-lim.jpg" alt="A map of Thwaites location">
                                            <p>Was once the world's largest woollen mill, it houses a wealth of gems located in a beautiful riverside setting. </p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="temple">
                                    <h3><span>Temple Newsam</span><img class="" src="/public/museumsAndGalleries/images/logo_white-temple.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-temple.jpg" alt="A map of Thwaites location">
                                            <p>A magnificent country mansion set within 1500 acres of beautiful parkland, complete with a rare breed farm.</p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="city">
                                    <h3><span>Leeds City Museum</span><img class="" src="/public/museumsAndGalleries/images/logo_white-city.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-city.jpg" alt="A map of Thwaites location">
                                            <p>Experience a world of discovery... explore four floors of interactive and exciting galleries.</p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="lotherton">
                                    <h3><span>Lotherton Hall</span><img class="" src="/public/museumsAndGalleries/images/logo_white-lotherton.png" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsAndGalleries/images/map-lotherton.jpg" alt="A map of Thwaites location">
                                            <p>A charming Edwardian house and country estate once home to the Gascoigne family.</p>
                                        </div>
                                        <a class="link" href="http://www.bbc.co.uk">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                        <a href="#" class="revealClose"><span></span>Close</a>
                    </div>
               </div>
        </section>

<div class="heroBanner" style="background: transparent url(/public/museumsAndGalleries/images/Fashionable-Yorkshire-Lothe.jpg) no-repeat scroll 50% 0px;">
  <div class="container-fluid">
     
    <a href="#">Discover Fashionable Yorkshire<span>The latest exhibition at Lotherton Hall</span></a>
    </div>
</div>        

{% endblock %} 

{% block sectionOneFull%}
<hr class="ms-rteElement-spacer" />
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="">
<ul>
            
         
         
          <li class="four heightTwo">
     <a style="background: url(/public/museumsAndGalleries/images/LMG_FebHalfterm2017.jpg) no-repeat" href="articlePage.html"><span class="info">Explore our exciting Easter Holiday event programme!<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo">Easter Holidays</span></a>
     </li> 

              
          <li class="two heightTwo city">
     <a style="background: url(/public/museumsAndGalleries/images/ForAllSeasonsExhibition.jpg) no-repeat" href="articlePage.html"><span class="info">For All Seasons<span class="secondaryInfo">10 February – 28 August 2017</span> <span class="arrow"></span></span><span class="thirdInfo">LEEDS CITY MUSEUM</span></a>
     </li> 


             <li class="two heightTwo abbey">
     <a style="background: url(/public/museumsAndGalleries/images/AH_Fairy%20Tales%20and%20Fantasy%20exhibition%20at%20Abbey%20House%20Museum.jpg) no-repeat" href="articlePage.html"><span class="info">Fairy Tales & Fantasy<span class="secondaryInfo">21 January - 31 December 2017</span> <span class="arrow"></span></span><span class="thirdInfo">Abbey House Museum</span></a>
     </li>     
         
     </ul>


  </div>
</div>
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}