{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Museums Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}museumsandgalleries/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
 <!--<section id="reveal">
           <div class="revealHeader">
                <a href="#"><span class="textLink">See all our Nine venues</span><span class="icon"></span></a>
            </div>
           
           <div id="revealContent">
                    <div class="container-fluid">
                        <ul id="museumList">
                            <li class="title">
                                <h2>Nine Venues</h2>
                                <p>Find out all about our nine fascinating museum sites and discover all the fun</p>
                            </li>

                            <li class="thwaite">
                                    <h3><span>Thwaite Mills Watermill</span><img class="" src="/public/museumsandgalleries/images/thwaiteMills-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-thwaites.jpg" alt="A map of Thwaites location">
                                            <p>Thwaite Mills is one of the last remaining examples in Britain of a water-powered mill.</p>
                                        </div>
                                         <a class="link" href="/museumsandgalleries/thwaite.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>                    
                            <li class="abbey">
                                    <h3><span>Abbey House Museum</span><img class="" src="/public/museumsandgalleries/images/abbeyHouse-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-abbey.jpg" alt="A map of Thwaites location">
                                            <p>A lively, interactive museum which was short-listed for the Guardian ‘Kids in Museum Family Friendly Award’ in 2011.</p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/abbey.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="discovery">
                                    <h3><span>Leeds Discovery Museum</span><img class="" src="/public/museumsandgalleries/images/discoveryCentre-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-discovery.jpg" alt="A map of Thwaites location">
                                            <p>Home to over a million wonders, Leeds Museums Discovery Centre cares for the city’s collections.&#8203;</p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/discovery.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>                    
                            <li class="kirkstall">
                                    <h3><span>Kirkstall Abbey</span><img class="" src="/public/museumsandgalleries/images/kirkstallAbbey-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-kirkstall.jpg" alt="A map of Thwaites location">
                                            <p>Kirkstall Abbey boast historic architecture amid a haven of wildlife and greenery.</p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/Kirkstall.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="lag">
                                    <h3><span>Leeds Art Gallery</span><img class="" src="/public/museumsandgalleries/images/leedsArtGallery-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-lag.jpg" alt="A map of Thwaites location">
                                            <p>Located in the city centre and free of charge, the art gallery offers an inspiring and fun visit for all.</p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/leedsArtGallery.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>                    
                            <li class="lim">
                                    <h3><span>Leeds Industrial Museum</span><img class="" src="/public/museumsandgalleries/images/armleyMills-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-lim.jpg" alt="A map of Thwaites location">
                                            <p>Was once the world's largest woollen mill, it houses a wealth of gems located in a beautiful riverside setting. </p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/armley.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="temple">
                                    <h3><span>Temple Newsam</span><img class="" src="/public/museumsandgalleries/images/templeNewsam-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-temple.jpg" alt="A map of Thwaites location">
                                            <p>A magnificent country mansion set within 1500 acres of beautiful parkland, complete with a rare breed farm.</p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/temple.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="city">
                                    <h3><span>Leeds City Museum</span><img class="" src="/public/museumsandgalleries/images/leedsCity-logo-w.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-city.jpg" alt="A map of Thwaites location">
                                            <p>Experience a world of discovery... explore four floors of interactive and exciting galleries.</p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/city.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <li class="lotherton">
                                    <h3><span>Lotherton Hall</span><img class="" style="padding:17px 30px" src="/public/museumsandgalleries/images/Lotherton_Logo_.svg" alt=""></h3>
                                    <div class="revealInfo">
                                        <div class="rollover">
                                            <img src="/public/museumsandgalleries/images/map-lotherton.jpg" alt="A map of Thwaites location">
                                            <p>A charming Edwardian house and country estate once home to the Gascoigne family.</p>
                                        </div>
                                        <a class="link" href="/museumsandgalleries/Lotherton.html">
                                            <span class="link">Visit</span>
                                            <span class="arrow"></span>
                                        </a>
                                    </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                        <a href="#" class="revealClose"><span></span>Close</a>
                    </div>
               </div>
        </section> -->

<!--<div class="heroBanner" style="background: transparent url(/public/museumsandgalleries/images/Fashionable-Yorkshire-Lothe.jpg) no-repeat scroll 50% 0px;">
  <div class="container-fluid">
     
   <a href="#" class="alt">Discover Fashionable Yorkshire<span>The latest exhibition at Lotherton Hall</span></a>
    </div>
</div>     -->


{% endblock %} 

{% block sectionOneFull%}
 <h2 class="">Nine Venues<br/> <span>Find out all about our nine fascinating museum sites and discover all the fun</span></h2>

<ul class="venues">
  <li class="thwaite"><a href="/museumsandgalleries/thwaite.html">
      <img src="/public/museumsandgalleries/images/thwaiteMills-logo-w.svg" alt="">
      <h3>Lotherton Hall</h3>
      </a></li>
        <li  class="abbey"><a href="/museumsandgalleries/abbey.html">
      <img src="/public/museumsandgalleries/images/abbeyHouse-logo-w.svg" alt="">
          <h3>Lotherton Hall</h3>
      </a></li>
        <li class="discovery"><a href="/museumsandgalleries/discovery.html" >
      <img src="/public/museumsandgalleries/images/discoveryCentre-logo-w.svg" alt="">
            <h3>Lotherton Hall</h3>
      </a></li>
        <li class="kirkstall"><a href="/museumsandgalleries/kirkstall.html" >
      <img src="/public/museumsandgalleries/images/kirkstallAbbey-logo-w.svg" alt="">
            <h3>Lotherton Hall</h3>
      </a></li>
        <li class="lag"><a href="/museumsandgalleries/leedsArtGallery.html" >
      <img src="/public/museumsandgalleries/images/leedsArtGallery-logo-w.svg" alt="">
            <h3>Lotherton Hall</h3>
      </a></li>
        <li class="lim"><a href="/museumsandgalleries/armley.html" >
      <img src="/public/museumsandgalleries/images/armleyMills-logo-w.svg" alt="">
            <h3>Lotherton Hall</h3>
      </a></li>
        <li class="temple"><a href="/museumsandgalleries/temple.html" >
      <img src="/public/museumsandgalleries/images/templeNewsam-logo-w.svg" alt="">
            <h3>Lotherton Hall</h3>
      </a></li>
        <li  class="city"><a href="/museumsandgalleries/city.html">
      <img src="/public/museumsandgalleries/images/leedsCity-logo-w.svg" alt="">
            <h3>Lotherton Hall</h3>
      </a></li>


  <li  class="lotherton"><a href="/museumsandgalleries/lotherton.html">
      <img src="/public/museumsandgalleries/images/Lotherton_Logo_.svg" alt="">
           <h3>Lotherton Hall</h3>
      </a></li>



</ul>

  {% include "includes/museums/mega-promo.html" %}
{% endblock %}

     {% block sectionOneHalf %}
     {% endblock %}


          {% block sectionOneHalfRight %}
   

          {% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
  {% include "includes/museums/mega-promo-external.html" %}

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/museums/re-userble-content-footer.html" %}
 {% endblock %}