{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Leeds Art gallery Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}museumsandgalleries/stylesheets/leedsartgallery_subsite.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_navLov.html" %}
 {% endblock %}



 {% block sectionOneTop %}    
{% endblock %} 

{% block sectionOneFull%}




{% endblock %}

     {% block sectionOneHalf %}
     {% endblock %}


          {% block sectionOneHalfRight %}

          {% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
 <hr class="ms-rteElement-spacer" />   
{% include "includes/museums/groupPromo.html" %}

<p class="lead">Leeds Discovery Centre is located 1.5 miles south from the city centre, near Leeds Dock and the Royal Armouries Museum.</p>
<div class="row">
<div class="col-md-6">
    <div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/Leeds%20Museums%20and%20Galleries%20West%20Yorkshire%20Hoard.jpg) no-repeat"></span><span>Discover the Secret Lives of Objects blog</span>  </a>
</div>
</div>
<div class="col-md-6">
    <div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/LMDC%20store.jpg) no-repeat"></span><span>Museums store tours</span>  </a>
</div>
</div>
</div>

<hr class="ms-rteElement-spacer" />
{% endblock %}



{% block sectionOneRightHandColumn %}
<hr class="ms-rteElement-spacer" />
<div class="sectionSubsite">
<h2>Contact us</h2>
<a href="http://www.leeds.gov.uk/Pages/ContactByEmail.aspx?termID=2432"  class="arrow" >Email us</a> </div>



<div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/Leeds%20Museums%20and%20Galleries%20What%27s%20On.jpg) no-repeat"></span><span>What's on at Leeds Discovery Centre</span>  </a>
</div>

<div class="promo">
    <a href="http://www.bbc.co.uk"><span class="image" style="background:url(http://www.leeds.gov.uk/museumsandgalleries/PublishingImages/Promo%20Images/LMG-enewsletter_small.jpg) no-repeat"></span><span>Join our mailing list</span>  </a>
</div>

<div class="sectionSubsite">
<h2>External links</h2>
<div>
    <p>Disclaimer: Leeds City Council (LCC) are not responsible
        for the content on any external site.</p>
</div> 
<a href="http://www.lmgshoponline.com/"  rel="external" class="link">Shop online at Leeds Museums and Galleries</a> </div>


{% endblock %}

{% block sectionOneThirdCol1 %}

 {% endblock %}

 {% block sectionOneThirdCol2 %}

 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}

<!--    <div class="highlighted equal-item alignCenter col-md-4 section"><em>E-newsletter <i class="fa fa-envelope-o" aria-hidden="true"></i></em><p>keep in the now with our </p><a href="" class="btn">Sign up  now</a></div> 
    <div class="highlighted alt  equal-item alignCenter col-md-4 section"><em>What's on <i class="fa fa-calendar" aria-hidden="true"></i></em><p>Upcoming events and workshops</p><a href="" class="btn">See what's on</a></div>  
    <div class="highlighted equal-item alignCenter col-md-4 section"><em>Tickets <i class="fa fa-ticket" aria-hidden="true"></i></em><p>Available online</p><a href="" class="btn">Book tickets  now</a></div> -->
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
     {% include "includes/museums/footer_navLov.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
        {% include "includes/museums/re-userble-content-footer.html" %}
 {% endblock %}