{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	temple Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}museumsandgalleries/stylesheets/temple_subsite.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_navLov.html" %}
 {% endblock %}



 {% block sectionOneTop %}


<div class="heroBanner" style="background: transparent url(/public/museumsandgalleries/images/Fashionable-Yorkshire-Lothe.jpg) no-repeat scroll center center;">


    <div class="visitorInfo">
  <div class="container-fluid">
        <div class="col-md-3 col-sm-4">    
        <h2>Opening Times</h2>
        <p>House, café, shop, bird garden: 10:00 to 17:00, last entry 16:15 <br />
         Estate gates: 07:30 to 20:00</p>
        </div>
        <div class="col-md-3 col-sm-4">   
        <h2>Prices</h2>

        <p>Adults - £6<br />Child - £3.00<br />Family(2 adults, 3 children) - £18.00<br /> Under 5s -free <br />Lothertom Membership - from £20
       </p>
        </div>
        <div class="col-md-3 col-sm-4">   
        <h2>Find Lotherton</h2>
        <p>Off Collier Lane<br /> 
Aberford <br />
Leeds <br />
LS25 3EB<br />
       </p></div>
     <div class="col-sm-12 col-md-3"> 
    
    <a href="" class="btn">Visitor Information</a>
        </div>

    </div>
    </div>

      <div class="container-fluid">
    <a href="#" class="">Discover Fashionable Yorkshire<span>The latest exhibition at Lotherton Hall</span></a>
     </div>

</div>       

{% endblock %} 

{% block sectionOneFull%}



    <hr class="ms-rteElement-spacer" />

    <div class="promoListWebpart">
  <div class="">
<ul>
                          
          <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/potsandppl.jpg) no-repeat"  href="articlePage.html"><span class="info">Yorkshire Pots and People<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 

                   
          <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/LothertonHall_flamingowildlifeworldpg.jpg) no-repeat "   href="articlePage.html"><span class="info">Wildlife World<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo">Coming soon</span></a>
     </li> 

                   
          <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/LH_Bird_Garden.jpg) no-repeat"  href="articlePage.html"><span class="info">Bird Garden<span class="secondaryInfo"></span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 
         
              
          <li class="two heightAuto lotherton">       
     <a  href="articlePage.html"><span class="info">E-newsletter<span class="secondaryInfo">keep in the now with our</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 


    <li class="two heightAuto  lotherton">
     <a href="articlePage.html"><span class="info">What's on<span class="secondaryInfo">Upcoming events and workshops</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li>  

                  <li class="two  heightAuto lotherton">
     <a  href="articlePage.html" rel="external"><span class="info">Tickets<span class="secondaryInfo">Book tickets online now</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 


     </ul>




   <hr class="ms-rteElement-spacer" />                    


  </div>
</div>



{% endblock %}

     {% block sectionOneHalf %}
     {% endblock %}


          {% block sectionOneHalfRight %}

          {% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}

<!--    <div class="highlighted equal-item alignCenter col-md-4 section"><em>E-newsletter <i class="fa fa-envelope-o" aria-hidden="true"></i></em><p>keep in the now with our </p><a href="" class="btn">Sign up  now</a></div> 
    <div class="highlighted alt  equal-item alignCenter col-md-4 section"><em>What's on <i class="fa fa-calendar" aria-hidden="true"></i></em><p>Upcoming events and workshops</p><a href="" class="btn">See what's on</a></div>  
    <div class="highlighted equal-item alignCenter col-md-4 section"><em>Tickets <i class="fa fa-ticket" aria-hidden="true"></i></em><p>Available online</p><a href="" class="btn">Book tickets  now</a></div> -->
{% endblock %} 

{% block sectionTwoFull%} 




   <hr class="ms-rteElement-spacer" />                    

<div class="promoListWebpart">
  <div class="">
<ul>
            
         
              
          <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/gf-winner-park-2.jpg) no-repeat"  rel="external" href="articlePage.html"><span class="info">Green flag award<span class="secondaryInfo">Raising the standard of 
Parks and Green Spaces</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 


    <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/crop.jpg) no-repeat"  rel="external"href="articlePage.html"><span class="info">Leeds Arts fund<span class="secondaryInfo">Supporting Leeds art galleries since 1912</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li>  

                  <li class="two heightTwo">
     <a style="background: url(/public/museumsandgalleries/images/prod_15696.jpg) no-repeat"  rel="external" href="articlePage.html"><span class="info">Online Shop<span class="secondaryInfo">Leeds Museums and Galleries</span> <span class="arrow"></span></span><span class="thirdInfo"></span></a>
     </li> 


     </ul>




   <hr class="ms-rteElement-spacer" />                    


  </div>
</div>

{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
      {% include "includes/museums/footer_navLov.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
        {% include "includes/museums/re-userble-content-footer.html" %}
 {% endblock %}