{% extends "layout_multi_sections.html" %}

{% block page_title %}
Visit
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}museumsandgalleries/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Visit
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">
    There is plenty to see and do at our nine attractions. Discover and explore exciting museums, grand country houses, fascinating industrial mills, majestic medieval ruins and an inspiring art gallery.​
</p>

<div class="groupPromo lcc">
  <div class="listWebpart">
    <ul>
      <li>
        <a class="" href="/museumsandgalleries/abbey.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/AH_Roll_up.jpg"><h3>Abbey House Museum</h3><p>A lively, interactive museum which was short-listed for the Guardian ‘Kids in Museum Family Friendly Award’ in 2011.</p></a>
      </li>
      <li>
        <a class="" href="/museumsandgalleries/kirkstall.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/KA_Summer_2015.jpg"><h3>Kirkstall Abbey</h3><p>Kirkstall Abbey boast historic architecture amid a haven of wildlife and greenery.</p></a>
      </li>
      <li>
        <a class="" href="/museumsandgalleries/leedsartgallery.html">
          <img style="border-width: 0px;" alt="Christmas Reminders " src="/public/museumsandgalleries/images/LAG_Roll_UP.jpg"><h3>Leeds Art Gallery</h3><p>Located in the city centre and free of charge, the art gallery offers an inspiring and fun visit for all.</p></a>
      </li>
      <li>
        <a class="" href="/museumsandgalleries/city.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/LCM_ROLL_UP.jpg"><h3>Leeds City Museum</h3><p>Experience a world of discovery... explore four floors of interactive and exciting galleries.</p></a>
      </li>
      <li>
        <a class="" href="/museumsandgalleries/discovery.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/lmdc_roll_up.jpg"><h3>Leeds Discovery Centre</h3><p>Home to over a million wonders, Leeds Museums Discovery Centre cares for the city’s collections.​</p></a>
      </li>
    <li>
        <a class="" href="/museumsandgalleries/armley.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/Lvl2RollupAM.jpg"><h3>Leeds Industrial Museum at Armley Mills</h3><p>Was once the world's largest woollen mill, it houses a wealth of gems located in a beautiful riverside setting.</p></a>
      </li>

        <li>
        <a class="" href="/museumsandgalleries/lotherton.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/LH_Summer_2105_2.jpg"><h3>Lotherton Hall</h3><p>A charming Edwardian house and country estate once home to the Gascoigne family.</p></a>
      </li> 

              <li>
        <a class="" href="/museumsandgalleries/temple.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/TN_Roll_up.jpg"><h3>Temple Newsam</h3><p>A magnificent country mansion set within 1500 acres of beautiful parkland, complete with a rare breed farm.</p></a>
      </li> 

        <li>
        <a class="" href="/museumsandgalleries/thwaite.html">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/TM_ROLL_UP.jpg"><h3>Thwaite Mills Watermill</h3><p>Thwaite Mills is one of the last remaining examples in Britain of a water-powered mill.</p></a>
      </li> 

    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<hr class="ms-rteElement-spacer" />
    <div class="highlighted  alignCenter col-md-6 section"><em>E-newsletter <i class="fa fa-envelope-o" aria-hidden="true"></i></em><p>keep in the now with our </p><a href="" class="btn">Sign up  now</a></div> 
            <div class="highlighted alt   alignCenter col-md-6 section"><em>What's on <i class="fa fa-calendar" aria-hidden="true"></i></em><p>Upcoming events and workshops</p><a href="" class="btn">See what's on</a></div>  
<hr class="ms-rteElement-spacer" />
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
         {% include "includes/museums/re-userble-content-footer.html" %}
 {% endblock %}