{% extends "layout_multi_sections.html" %}

{% block page_title %}
Visit
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}museumsandgalleries/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
Visit
{% endblock %}

 {% block main_nav %}
  {% include "includes/museums/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">
    There is plenty to see and do at our nine attractions. Discover and explore exciting museums, grand country houses, fascinating industrial mills, majestic medieval ruins and an inspiring art gallery.​
</p>

<div class="groupPromo default">
  <div class="listWebpart">
    <div class="freeContentArea">
    </div>
    <ul>
      <li>
        <a class="equal-item" href="/museumsandgalleries/abbey.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/AH_Roll_up.jpg">Abbey House Museum</a>
      </li>
      <li>
        <a class="equal-item" href="/museumsandgalleries/kirkstall.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/KA_Summer_2015.jpg">Kirkstall Abbey</a>
      </li>
      <li>
        <a class="equal-item" href="/museumsandgalleries/leedsartgallery.html" style="height: 199px;">
          <img style="border-width: 0px;" alt="Christmas Reminders " src="/public/museumsandgalleries/images/LAG_Roll_UP.jpg">Leeds Art Gallery</a>
      </li>
      <li>
        <a class="equal-item" href="/museumsandgalleries/city.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/LCM_ROLL_UP.jpg">Leeds City Museum</a>
      </li>
      <li>
        <a class="equal-item" href="/museumsandgalleries/discovery.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/lmdc_roll_up.jpg">Leeds Discovery Centre</a>
      </li>
    <li>
        <a class="equal-item" href="/museumsandgalleries/armley.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/Lvl2RollupAM.jpg">Leeds Industrial Museum at Armley Mills</a>
      </li>

        <li>
        <a class="equal-item" href="/museumsandgalleries/lotherton.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/LH_Summer_2105_2.jpg">Lotherton Hall</a>
      </li> 

              <li>
        <a class="equal-item" href="/museumsandgalleries/temple.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/TN_Roll_up.jpg">Temple Newsam</a>
      </li> 

        <li>
        <a class="equal-item" href="/museumsandgalleries/thwaite.html" style="height: 199px;">
          <img style="border-width: 0px;" src="/public/museumsandgalleries/images/TM_ROLL_UP.jpg">Thwaite Mills Watermill</a>
      </li> 

    </ul>
    <div class="clearfix"></div>
  </div>
</div>
<hr class="ms-rteElement-spacer" />
    <div class="highlighted  alignCenter col-md-6 section"><em>E-newsletter <i class="fa fa-envelope-o" aria-hidden="true"></i></em><p>keep in the now with our </p><a href="" class="btn">Sign up  now</a></div> 
            <div class="highlighted alt   alignCenter col-md-6 section"><em>What's on <i class="fa fa-calendar" aria-hidden="true"></i></em><p>Upcoming events and workshops</p><a href="" class="btn">See what's on</a></div>  
<hr class="ms-rteElement-spacer" />
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
         {% include "includes/museums/re-userble-content-footer.html" %}
 {% endblock %}