<div class="heroBanner" style="background: transparent url(http://www.leeds.gov.uk/childfriendlyleeds/PublishingImages/hero.jpg) no-repeat scroll 50% -1px;" xmlns:ddwrt2="urn:frontpage:internal">
  <div class="container-fluid">
    <h1 class="hero">CfL The Story</h1><div><p>A compassionate, economically strong and successful city has children and young people at its heart.
<br><br>From the influential first years of life through a child’s 
education to the care and love they receive growing&nbsp;up - these are the 
things that shape us and our communities.</p></div></div>
</div>