               <nav id="main-menu" class="footer">
                    <div class="container-fluid">
                        
                     
                                 
                   <ul>
                       <li><a href="/leedsenterprisezone/index.html">Home</a></li>
                       <li><a href="/leedsenterprisezone/aboutus.html">About us</a>
                       <li><a href="/leedsenterprisezone/location.html">Location</a>
                       <li><a href="/leedsenterprisezone/sites.html">Sites</a>
                       <li><a href="/leedsenterprisezone/news.html">News</a></li>
                       </li>
                   </ul>
                          
                          
                          
                          
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.main-menu -->
                