<div class="sideNav">
    <ul class="nav">
        <li> <a class="item" href="https://whatson-beta.leeds.gov.uk/icecube/ice-rink" title="Ice Rink" id="ctl00_ctl47_g_5959e589_8817_4855_b233_c7e652e96479_csr1_2lines_line1Link">CFL the story</a>            </li>
        <li>
            <a class="item active" href="https://whatson-beta.leeds.gov.uk/icecube/ice-rink/assessibility-skating" title="Assessibility skating"
                id="ctl00_ctl47_g_5959e589_8817_4855_b233_c7e652e96479_csr2_2lines_line1Link">Films</a>
        </li>
        <li> <a class="item" href="https://whatson-beta.leeds.gov.uk/icecube/ice-rink/ice-rink-rules" title="Ice rink rules" id="ctl00_ctl47_g_5959e589_8817_4855_b233_c7e652e96479_csr3_2lines_line1Link">12 wishes</a>            </li>
        <li> <a class="item" href="https://whatson-beta.leeds.gov.uk/icecube/ice-rink/learn-to-skate" title="Learn to skate" id="ctl00_ctl47_g_5959e589_8817_4855_b233_c7e652e96479_csr4_2lines_line1Link">How are we doing?</a>            </li>
    </ul>
</div>