{% extends "layout_multi_sections.html" %}

{% block page_title %}
CHOOSING YOUR CAREER
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}leedspathways/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
CHOOSING YOUR CAREER
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedspathways/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">
Choosing your next steps? Use the resources here to explore career ideas and find further advice on a range of career paths. For more ideas, visit <a href="/leedspathways/Pages/Getting-ready-for-work-and-self-employment.aspx" title="Getting ready for work and self-employment" style="color: steelblue;">Getting ready for work and self-employment</a> and <a href="/leedspathways/Pages/Key-Job-Sectors-in-Leeds.aspx" title="Key Job Sectors in Leeds" style="color: steelblue;">Key Job Sectors in Leeds</a>
</p>

<div class="highlighted">
<h2>Drop-in centre services</h2>

<p><strong>If you are 16 or&nbsp;17&nbsp;and not in education, employment or training</strong>, you can visit one of our <strong><a href="/leedspathways/Pages/Drop-in-services-for-young-people.aspx">drop-in centre services</a></strong> to get support from a Leeds Pathways adviser and/or receive sign-posting to other relevant services.</p>
</div>
<div class="highlighted">
<a href="http://www.leeds.gov.uk/leedspathways/Pages/grand-futures-leeds.aspx"><img src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/GF_logo.png" alt="Grand Futures logo" style="float: right; height: auto; max-width: 100%;"></a>
<h2>Grand Futures Leeds</h2>

<p>
<strong><a href="http://www.leeds.gov.uk/leedspathways/Pages/grand-futures-leeds.aspx">Grand Futures Leeds</a></strong> is a network of arts organisations across the city that are working together to increase the number of arts training and career opportunities available to young people in Leeds.</p><br />

</div>
<hr class="ms-rteElement-spacer" />


<div class="groupPromo">
  <div class="listWebpart">
 <ul>
            
                <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/dreamjob.png">   
                        <h3>What’s your dream job?</h3></a>
                </li>

                    <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/gov%20uk%20logo.png">   
                        <h3>Take a skills health check</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/enterprise.png">   
                        <h3>Enterprise catalysts</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/Get_in.png">   
                        <h3>Get In Go Far</h3></a>
                </li>

    

            
        
            
            
            
            
            
                </ul>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row">
    <div class="col-md-6">
<div class="highlighted equal-item">

<h2>Developing your skills and experience</h2>
	

<p>If you feel you need to develop further skills or you need more experience to put on your application or CV, try one of the opportunities below.</p>

<p><strong><a href="http://www.ncsyes.co.uk/" style="color: steelblue;">• National Citizen Service (NCS): For  ages 15-17</a></strong></p>


<p><strong><a href="https://doinggoodleeds.org.uk/volunteering-in-leeds.html" style="color: steelblue;">• Doinggood: Volunteering in Leeds</a></strong></p>


<p><strong><a href="https://vinspired.com/" style="color: steelblue;">• Vinspired: Volunteering opportunities</a></strong></p>


<p><strong><a href="http://www.internationalservice.org.uk/work_with_us/index.html" style="color: steelblue;">• International Service: Volunteer overseas</a></strong></p>


<p><strong><a href="http://www.yearoutgroup.org/" style="color: steelblue;">• Take a gap year: The Year Out Group</a></strong></p>


<p><strong><a href="http://www.yearoutgroup.org/programs/program/voluntary-(projects-and-individual-placements)/" style="color: steelblue;">• Take a gap year: Overseas volunteering</a></strong></p>

<p><strong><a href="https://www.gov.uk/guidance/gap-year-foreign-travel-advice" style="color: steelblue;">• Gap year: Foreign travel advice</a></strong></p>


<p><strong><a href="http://www.open.ac.uk/" style="color: steelblue;">• Distance Learning: Open University</a></strong></p>

<p><strong><a href="http://www.socialmobility.org.uk/get-involved/students/" style="color: steelblue;">• Social Mobility Foundation: Support for high-achieving, &#8203;disadvantaged young people</a></strong></p>
</div>
</div>
<div class="col-md-6">
<div class="highlighted equal-item">

    <h2>Careers advice and information</h2>

<p>You may have already spoken to your careers adviser within school. If you haven't, or&nbsp;if&nbsp;you're&nbsp;looking for further information, the links below can&nbsp;help.</p>

<p><strong><a href="https://nationalcareersservice.direct.gov.uk/job-profiles/home" style="color: steelblue;">• National Careers Service</a></strong></p>

<p><strong><a href="https://www.plotr.co.uk/" style="color: steelblue;">• Plotr: Explore career worlds, employer profiles and find opportunities </a></strong></p>

<p><strong><a href="http://icould.com/" style="color: steelblue;">• iCould: Find out more about different careers and how to get there </a></strong></p>

<p><strong><a href="http://www.careersbox.co.uk/" style="color: steelblue;">• Careers Box: Watch a variety of films about different jobs </a></strong></p>

<p><strong><a href="https://www.getingofar.gov.uk/" style="color: steelblue;">• GET IN GO FAR</a></strong></p>


</div>
</div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
         {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}