{% extends "layout_multi_sections.html" %}

{% block page_title %}
DIGITAL & CREATIVE INDUSTRY
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}leedspathways/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
DIGITAL & CREATIVE INDUSTRY
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedspathways/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
<img src="http://www.leeds.gov.uk/leedspathways/PublishingImages/PW-Images/content%20pages%20images/mac.jpg"  class="imgRight" alt="Man and woman looking at a MacBook">
<p class="lead"> 
Interested in working with cutting edge programs to develop products and services used by customers and businesses? From film and television, to advertising and marketing, the digital and creative industries are one of the UK’s fastest growing sectors in terms of both job and value creation.
</p>
<div class="clearfix"></div>
<hr>

<h2>Careers</h2>

<p><span style="font-size: 16px;"><span style="font-family: arial;"><strong>ICT Services (office-based support for a business)</strong></span></span><br>

Roles include Database Administrator, Data Entry Clerk, Switchboard Operator, IT Support Technician and Computer Repair Technician<br>
<strong>Average salary: £12,000 - £18,000 per annum (up to £25,000 when experienced)</strong></p>

<br> 
 
<p><span style="font-size: 16px;"><span style="font-family: arial;"><strong>Creative Services (specialised support and teaching)</strong></span></span><br>
Roles include Media Researcher, Librarian, Singing/Dance Teacher, Arts Administrator and TV Production Runner<br> 
<strong>Average salary: £13,000 – £20,000 per annum</strong></p>

<br> 

<p><span style="font-size: 16px;"><span style="font-family: arial;"><strong>Digital and Design Crafts (specialist services: face-to-face and office-based)</strong></span></span><br>
Roles include Animator, Web Design/Editor, Production Designer, Games Developer and Studio / Stage Manager<br> 
<strong>Average salary: £18,000 - £40,000 per annum&#8203;</strong></p>

<br>

<p><strong>Visit the <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/information-technology-and-information-management" style="color: steelblue;">National Careers Service</a> for more information on careers in this sector.</strong></p>
            
<hr class="ms-rteElement-spacer" />
<ul class="accordion" data-module="accordion">
    <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Essential Skills</a>
            <div
                style="display: none;" class="content-block">
            <p>- Interested in new technology</p>

<p>- Creativity</p>

<p>- Problem solving ability</p>

<p>- Strong IT skills</p>

<p>- Good written and verbal communication</p>

<p>- Well-organised and able to work to tight deadlines</p>
                </div>
        </div>
    </li>
        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Labour market information</a>
            <div
                style="display: none;" class="content-block">
<p>- <strong>Over 10,000 people</strong> are employed in the sector in Leeds.</p>

<p>- <strong>1,350</strong> Digital companies are based in Leeds.</p>

<p>- By 2025 there will be <strong>6% more jobs</strong> in the sector.</p>

<p>- A growing industry with a <strong>50% increase</strong> in mid-level tech jobs.</p>

<p>- Future skills focus on <strong>coding</strong> and <strong>flexible, freelance working</strong> to meet demand.</p>

                </div>
        </div>
    </li>	
        <li>
        <div class="accordion-drawer">
            <a href="#" class="header"><span id="tooltip" class="sr-only">Click to expand</span>Top employers</a>
            <div
                style="display: none;" class="content-block">
          <p><strong><a href="https://jobs.sky.com/">Sky</a></strong></p>

<p><strong><a href="https://home.kpmg.com/uk/en/home.html">KPMG</a></strong></p>

<p><strong><a href="https://www.emishealth.com/home">EMIS</a></strong></p>

<p><strong><a href="https://jobs.barclays.co.uk/search-jobs/">Barclays Bank</a></strong></p>

<p><strong><a href="http://wordsandpics.co.uk/commercial/what-we-do/">Words and Pictures</a></strong></p>

<p><strong><a href="https://www.brassagency.com/">Brass</a></strong></p>
                </div>
        </div>
    </li>		
</ul>
        <h2>Useful websites</h2>      
  
        
                <ul>
            
                <li>
                    
                    <a href="https://nationalcareersservice.direct.gov.uk/job-profiles/information-technology-and-information-management" rel="external">
                        
                        National Careers Service: Information Technology &amp; Information Management</a>
                </li>
            
                <li>
                    
                    <a href="http://creativeskillset.org/" rel="external">
                        
                        Creative Skillset: Working with the UK screen-based creative industries</a>
                </li>
            
                <li>
                    
                    <a href="https://www.thetechpartnership.com/" rel="external">
                        
                        Tech Partnership: Skills for the digital economy</a>
                </li>
            
                </ul>
            
<hr class="ms-rteElement-spacer" />

{% endblock %}

      {% block sectionOneRightHandColumn %}   


<blockquote>
<span class="open-quote"></span>
<p>There’s so much I love about my ​Apprenticeship. I’m meeting marketing experts, learning to use a variety of software packages and meeting with my college tutor on a regular basis to make sure I’m on track.</p>
 <footer class="blockquote-footer"><cite title="Source Title">​​​​Marketing Apprentice</cite></footer>
</blockquote>

<blockquote>
<span class="open-quote"></span>
<p>I created websites to gain experience in the sector. I'd design, speak to the customers and write the code, all while I was 17, at college. My favourite thing was creating my own games for fun!</p>
 <footer class="blockquote-footer"><cite title="Source Title">EMIS IT Assistant</cite></footer>
</blockquote>
      {% endblock %}


{% block sectionOneFullBottom %}
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
         {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}