{% extends "layout_multi_sections.html" %}

{% block page_title %}
HIGHER EDUCATION IN LEEDS
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}leedspathways/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
HIGHER EDUCATION IN LEEDS
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedspathways/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">
Want to know what you can do post-18? Find out about higher education, higher apprenticeships, employment, internships, work experience, volunteering and placements in Leeds.​<br />
You can also visit <strong><a href="http://university.which.co.uk/" style="color: steelblue;">Which? University</a></strong> for impartial university profile information, including courses, services for international students, rankings, accommodation and more.
</p>




<div class="groupPromo">
  <div class="listWebpart">
 <ul>
            
                <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/UniofLeedsLarge.png">   
                        <h3>University of leeds</h3></a>
                </li>

                    <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/LeedsBeckett.png">   
                        <h3>Leeds Beckett University</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/Leeds%20Trinity%20Large.jpg">   
                        <h3>Leeds Trinity University</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/Leeds%20city%20college%20large.jpg">   
                        <h3>Leeds City College</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/LCOA_LARGE.png">   
                        <h3>Leeds College of Art</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/LCOB_LARGE.png">   
                        <h3>Leeds College of Building</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/LCOM_LARGE.png">   
                        <h3>Leeds college of music</h3></a>
                </li>

                     <li class="external">
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/unistatsLarge.jpg">   
                        <h3>Compare course data</h3></a>
                </li>


            
        
            
            
            
            
            
                </ul>
    <div class="clearfix"></div>
  </div>
</div>


<div class="highlighted">

<h2>Higher apprenticeships</h2>
	

<p>Higher apprenticeships are an alternative to university, and offer a work-based learning programme and lead to a nationally recognised qualification at one of the following:</p>

<p><strong>• Level 4 &amp; 5</strong> - equivalent to a higher education certificate, higher education diploma or a foundation degree</p>

<p><strong>• Level 6</strong> - equivalent to a bachelor's degree</p>

<p>For more information on apprenticeships, visit the <strong><a href="/leedspathways/Pages/Leeds-apprenticeships.aspx" style="color: steelblue;">Apprenticeships</a></strong> page. You can also learn about alternative career options on the <strong><a href="/leedspathways/Pages/Choosing-your-career.aspx" style="color: steelblue;">Choosing your career</a></strong> page.&#8203;</p>

<div class="highlighted">
    <h3>Useful Higher Education websites</h3>
<ul>
    <li><a href="http://www.bbc.co.uk/programmes/articles/TpZQrPBX9q0KhPtzZ0DYNG/university-is-it-for-you" rel="external" >BBC - University: Is it right for you?</a></li>
    <li><a href="http://www.heart.ac.uk/schools/events/" rel="external">HEART Open Days</a></li>
    <li><a href="https://www.gov.uk/student-finance" rel="external">GOV.UK - Understanding uni finance</a></li>
</ul>
</div>
</div>
<hr class="ms-rteElement-spacer" />
<div class="highlighted">

<h2>Internships: getting more experience</h2>

<p>Alongside learning you may want to gain some experience of working in your chosen field. <strong>An internship can give you a real insight into the world of work</strong>, allowing you to build on the theory you learned at university and helping you to gain practical skills that will help strengthen your CV and make you more employable.</p>

<p><strong>Internships offer you the chance to test your skills in real-life situations</strong>, explore your career options and gain an insight into an organisation or career path.</p>

<div class="highlighted">
    <h3>Useful Internship websites</h3>
<ul>
    <li><a href="http://www.inspiringinterns.com/"  rel="external">Inspiring Interns - Graduate internships</a></li>
    <li><a href="https://www.studentjob.co.uk/internship"  rel="external">Studentjob.co.uk - Find an internship</a></li>
    <li><a href="http://www.e4s.co.uk/jobs/3-internships-jobs-in-leeds.htm"  rel="external">E4S: Internships in Leeds</a></li>
    <li><a href="https://www.graduate-jobs.com/internships/"  rel="external">Graduate jobs.com - Looking for graduate internships?</a></li>
</ul>
</div>


</div>

<hr class="ms-rteElement-spacer" />
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reusablecontent_footer %}
         {% include "includes/reusable-content-footer.html" %}
 {% endblock %}