{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}leedspathways/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedspathways/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
 
{% endblock %} 

{% block sectionOneFull%}
  <hr class="ms-rteElement-spacer" />   
<h1>LEEDS PATHWAYS​​</h1>
<p class="lead">If you are 13-25, Leeds Pathways is your guide to discovering the range of exciting education, career and training options available to you in Leeds.</p>

  <hr class="ms-rteElement-spacer" />   



<div class="groupPromo multiColors thirds">
  <div class="listWebpart">
    <ul>
      <li class="blue">
        <a href="learning.html">
 <h3>Learning</h3>
 </a>
      </li>
      <li class="green">
        <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf">
 <h3>Jobs & Carreers</h3></a>
      </li>
    <li class="pink">
        <a href="http://insite.leeds.gov.uk/Root%20document%20library/Christmas%20closedown%202016-17%20toolkit%20guidance.pdf">
 <h3>Apprenticeships</h3></a>
      </li>

    </ul>
    <div class="clearfix"></div>
  </div>
</div>



{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}



 {% endblock %}

 {% block sectionOneThirdCol2 %}

 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
<div class="highlighted">

<p class="highlight"><strong><a href="http://www.plotr.co.uk/advice/articles/raising-the-participation-age-to-18-rpa-information-for-parents/" style="color: steelblue;">Raising the Participation Age</a></strong> (RPA) is a government measure which calls to young people to participate in learn&#8203;ing or training until their 18th birthday.</p>

<p class="highlight">If you are 16 or 17&nbsp;and not in education, employment or training, you can visit one of our <strong><a href="/leedspathways/Pages/Drop-in-services-for-young-people.aspx" title="Drop in services for young people" style="color: steelblue;">drop-in centre services</a></strong> to get support from a Leeds Pathways adviser and/or receive sign-posting to other relevant services.</p>

<p class="lead">You can also&nbsp;visit the <strong><a href="/youthInformationHub/Pages/default.aspx" title="Youth Information Hub" style="color: steelblue;">Youth Information Hub</a></strong> for information, advice and guidance on a range of topics including housing, travel and money.&#8203;</p>

</div>
  <hr class="ms-rteElement-spacer" />  
<div class="highlighted">
	
<p><span style="color: rgb(199, 21, 133);"><span style="font-size: 40px; line-height: 1;"><span style="font-family: BebasNeuewebfont">WE'RE ON TWITTER!</span></span></span></p>	

 <a href="https://twitter.com/leedspathways" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @LeedsPathways</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
 
 <br/><br/>

<center>

<a class="twitter-timeline" 
data-width="100%" 
data-height="750px" 
data-chrome="noscrollbar noheader"
href="https://twitter.com/leedspathways"
></a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<style>

.twitter-timeline {
    height: 1000px !important;
    width: 800px !important;}

</style>


</center>
</div>

<br/>
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}


 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}