{% extends "layout_multi_sections.html" %}

{% block page_title %}
JOBS & CAREERS
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}leedspathways/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
JOBS & CAREERS
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedspathways/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">
We want Leeds to be the best city for jobs and skills. Use the links on this page to find out about career pathways, growth sectors and job vacancies in Leeds, as well as what it's like to work for yourself.
</p>




<div class="groupPromo">
  <div class="listWebpart">
 <ul>
            
                <li>
                    
                    <a href="choosingyourcareer.html">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/career1.jpg">   
                        <h3>Choosing your Career</h3></a>
                </li>

                    <li>
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/cv.jpg">   
                        <h3>Getting ready for work & self-employment</h3></a>
                </li>

                     <li>
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PWIMAGES/Leeds_Town_Hall_(2).jpg">   
                        <h3>Jobs in Leeds</h3></a>
                </li>

                     <li>
                    
                    <a href="digital.html">
                     <img alt="University of Leeds logo" src="http://www.leeds.gov.uk/leedspathways/PublishingImages/PW-Images/manufacturing.jpg">   
                        <h3>Key job sectors in Leeds</h3></a>
                </li>
           
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reuserblecontent_footer %}
         {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}