{% extends "layout_multi_sections.html" %}

{% block page_title %}
SIXTH FORMS IN LEEDS
{% endblock %}


  {% block css_register %}
          <link href="{{ asset_path }}leedspathways/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
SIXTH FORMS IN LEEDS
{% endblock %}

 {% block main_nav %}
  {% include "includes/leedspathways/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}


 {% block breadcrumb %}
  {% include "includes/breadcrumb_sp.html" %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}

{% endblock %}

{% block sectionOneFullBottom %}
<p class="lead">
The&nbsp;links&nbsp;below are&nbsp;to the <strong><a href="https://www.ucasprogress.com/search" style="color:steelblue">UCAS Progress</a></strong> pages and websites of secondary schools and academies&nbsp;in Leeds that&nbsp;offer the opportunity to study&#8203;&nbsp;in their sixth form. Visit them to learn more.
</p>




<div class="groupPromo">
  <div class="listWebpart">
 <ul>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/996/abbey-grange-church-of-england-academy">
                        
                        <h3>Abbey Grange Church of England Academy</h3></h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1000/allerton-grange-school">
                        
                        <h3>Allerton Grange School</h3></h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1001/allerton-high-school-business-and-enterprise-specialist-school">
                        
                       <h3> Allerton High School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1006/benton-park-school">
                        
                        <h3>Benton Park School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1009/boston-spa-school">
                        
                        <h3>Boston Spa School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1011/brigshaw-high-school-and-language-college">
                        
                        <h3>Brigshaw High School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/22/carr-manor-high-school-specialist-sports-college">
                        
                       <h3> Carr Manor High School Specialist Sports College</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1025/cockburn-school">
                        
                        <h3>Cockburn School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1086/co-operative-academy-of-leeds">
                        
                        <h3>Co-operative Academy of Leeds</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1027/crawshaw-school">
                        
                        <h3>Crawshaw School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1028/david-young-community-academy">
                        
                        <h3>David Young Community Academy</h3></a>
                </li>
      
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1033/farnley-academy">
                        
                        <h3>Farnley Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="https://www.ucasprogress.com/provider/1035/garforth-academy">
                        
                        <h3>Garforth Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1038/guiseley-school-technology-college">
                        
                        <h3>Guiseley School Technology College</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.horsforthschool.org/">
                        
                        <h3>Horsforth School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1049/john-smeaton-community-college">
                        
                        <h3>John Smeaton Community College</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1052/lawnswood-school">
                        
                        <h3>Lawnswood School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1022/city-of-leeds-part-of-the-central-leeds-learning-federation">
                        
                        <h3>Leeds City Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1084/leeds-east-academy">
                        
                        <h3>Leeds East Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1044/leeds-west-academy">
                        
                        <h3>Leeds West Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1068/morley-academy">
                        
                        <h3>Morley Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1085/priesthorpe-school">
                        
                        <h3>Priesthorpe School</h3></a>
                </li>

  
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1082/prince-henrys-grammar-school-otley">
                        
                        <h3>Prince Henry's Grammar School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1088/pudsey-grangefield-school">
                        
                        <h3>Pudsey Grangefield School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1193/ralph-thoresby-school">
                        
                        <h3>Ralph Thoresby School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1092/roundhay-school-technology-and-language-college">
                        
                       <h3> Roundhay School All through education from 4 to 18</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1093/royds-school-specialist-language-college">
                        
                        <h3>Royds School Specialist Language College</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1102/swallow-hill-community-college">
                        
                        <h3>Swallow Hill Community College</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1104/temple-moor-high-school-science-college">
                        
                        <h3>Temple Moor High School Science College</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1091/rodillian-school-and-arts-college">
                        
                        <h3>The Rodillian Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="https://www.ucasprogress.com/provider/1097/the-south-leeds-academy">
                        
                        <h3>The South Leeds Academy</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1115/wetherby-high-school">
                        
                        <h3>Wetherby High School</h3></a>
                </li>
            
                <li>
                    
                    <a href="http://www.ucasprogress.com/provider/1116/woodkirk-academy">
                        
                        <h3>Woodkirk Academy</h3></h3></a>
                </li>
            
            
            
            
            
                </ul>
    <div class="clearfix"></div>
  </div>
</div>
<hr class="ms-rteElement-spacer" />



{% endblock %} 
{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}



{% endblock %}

{% block sectionTwoRightHandColumn %}

{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/museums/footer_nav.html" %}
 {% endblock %}

  {% block reusablecontent_footer %}
         {% include "includes/reusable-content-footer.html" %}
 {% endblock %}