{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
     <link href="{{ asset_path }}southleedsyouthhub/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<hr class="ms-rteElement-spacer" />
<p class="lead">​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​​
​​​​​​​​​ SOMEWHERE TO GO, SOMETHING TO DO, SOMEONE TO TALK TO​​</p>

{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneHalf %}
<div class="imageGallery"> 
<img alt="south leeds youth hub building" data-action="zoom" src="http://www.breezeleeds.org//southleedsyouthhub/PublishingImages/hubBuilding.jpg" class="img-responsive">
 <img alt="graffiti" data-action="zoom" src="http://www.breezeleeds.org/southleedsyouthhub/PublishingImages/graffiti.jpg" class="img-responsive"> 
<img alt="court" data-action="zoom" src="http://www.breezeleeds.org/southleedsyouthhub/PublishingImages/court.jpg" class="img-responsive">
 <img alt="gaming" data-action="zoom" src="http://www.breezeleeds.org/southleedsyouthhub/PublishingImages/gaming.jpg" class="img-responsive">
<img alt="chairs" data-action="zoom" src="http://www.breezeleeds.org/southleedsyouthhub/PublishingImages/chairs.jpg" class="img-responsive">
 <div style="clear: both;"></div>
</div>
<hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneHalfRight %}
<p>South Leeds Youth Hub is the Leeds <a href="http://www.myplacenetwork.org.uk/" rel="external"><strong>Myplace</strong></a> centre, a safe space for young people in south Leeds to take part in affordable <a href="/southLeedsYouthHub/Pages/activities.aspx" title="SLYH activities"><strong>activities</strong></a><strong>&nbsp;</strong>outside school hours.  There are opportunities to join a youth club, try something new, develop new skills, have fun, and make friends, all in a state of the art building.</p>

<p>
There is everything from a high-tech music and film studio, a top-quality bike mechanics &#8203;workshop, performance hall, and flexible spaces for creative and performing arts, teaching and learning, meeting rooms, and a welcome area.  Some of these spaces are available for <a href="/southLeedsYouthHub/Pages/About-us.aspx#venueHire"><strong>venue hire</strong> </a>, and during school hours the building <a href="/southLeedsYouthHub/Pages/Southway-at-the-Hub.aspx"><strong>Southway</strong></a> Alternative Education operates from here too.</p>

<p>
At South Leeds Youth Hub we are lucky to work with some brilliant local <a href="/southLeedsYouthHub/Pages/About-us.aspx#partners"><strong>partners and supporters</strong></a>.  Under the direction of young people from south Leeds, we are constantly evolving and developing to make sure that local young people have what they want, need and value. </p>


{% endblock %}

{% block sectionOneThirdCol1 %}

 {% endblock %}

 {% block sectionOneThirdCol2 %}

 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
<h2 class="text-center">ACTIVITIES</h2>
<p class="lead text-center">
    Have a look at the current activity programme that is delivered in partnership with some excellent local organisations, who have brilliant staff and are experienced in delivering high quality work with young people.
</P>


 <hr class="ms-rteElement-spacer" />
<div class="promoListWebpart" xmlns:ddwrt2="urn:frontpage:internal">
  <ul>
    <li class="two contentLink heightTwo"><div class="ExternalClass787916942C4A44CC90333E180411ECD6">
<p><strong class="lead">LET'S TALK</strong></p>
<p>If you are interested in developing a relationship with us, then</p></div>
&#8203;&#8203;&#8203;<a href="https://childfriendlyleeds.wordpress.com/"><img src="" alt=""><span class="info">Contact us<span class="secondaryInfo"></span><span class="arrow"></span></span><span class="thirdInfo"></span></a></li>
    <li class="two heightTwo imgCenter"><a href="https://childfriendlyleeds.wordpress.com/2017/01/17/change4life-launch-new-befoodsmart-campaign/"><img src="http://www.leeds.gov.uk/childfriendlyleeds/PublishingImages/Blog%20images/blog1.jpg" alt="Change4Life logo"><span class="info">In Harmony<span class="secondaryInfo">Music training from opera north</span><span class="arrow"></span></span><span class="thirdInfo">7-13 years</span></a></li>
    <li class="two heightTwo imgCenter"><a href="https://childfriendlyleeds.wordpress.com/2017/01/19/behind-the-scenes-with-yp-productions-for-the-child-friendly-leeds-awards/"><img src="http://www.leeds.gov.uk/childfriendlyleeds/PublishingImages/Blog%20images/blog2.jpg" alt="Crowd of kids outside city varities"><span class="info">The weekenders group<span class="secondaryInfo">“Music Mondays”</span><span class="arrow"></span></span><span class="thirdInfo">10-18 years</span></a></li>
  </ul>
  <div class="clear"></div>
</div>
 <hr class="ms-rteElement-spacer" />

<div class="text-center">   
  <a href="/southLeedsYouthHub/Pages/Activities.aspx" class="btn btn-primary">See all Activities</a>
  </div>
<hr class="ms-rteElement-spacer">
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}

 {% endblock %}

 {% block sectionTwoThirdCol2 %}

 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}


 

{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
<script src="http://www.breezeleeds.org/southLeedsYouthHub/html%20and%20xslt/zoom.js"></script>

 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reusablecontent_footer %}
     {% include "southleedsyouthhub/reusable-content-footer.html" %}
 {% endblock %}