{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
Assisted living Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}assistedliving/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/assistedliving/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}

{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
  <hr class="ms-rteElement-spacer" />
<div class="groupPromo">
  <div class="listWebpart">
    <ul>
      <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/assistedliving/images/280x120-1.jpg"><h3>Leeds Community Equipment Service</h3></a>
      </li> 
            <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/assistedliving/images/280x120-2.jpg"><h3>Telecare Services</h3></a>
      </li> 

           <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/assistedliving/images/120x120-3.jpg"><h3>Blue Badge</h3></a>
      </li> 

              <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/assistedliving/images/AL-room-hire.jpg"><h3>Room Hire</h3></a>
      </li> 

              <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/assistedliving/images/HardHatImage.jpg"><h3>Phase 2</h3></a>
      </li> 

              <li>
        <a href="#">
          <img style="border-width: 0px;" src="/public/assistedliving/images/map for pod.jpg"><h3>How to find us</h3></a>
      </li>  
    </ul>
    <div class="clearfix"></div>
  </div>
</div>

<p class="lead">
Assisted Living Leeds
 </p>

 <div id="ctl00_PlaceHolderMain_ctl00__ControlWrapper_LimitedHTMLFieldControl" class="ms-rtestate-field" style="display:inline" aria-labelledby="ctl00_PlaceHolderMain_ctl00_label"><div>Assisted Living Leeds is a new centre that brings together a number of assistive technology services under one roof for the first time.&nbsp; Phase 1 hosts the Leeds Community Equipment Service, Telecare, Blue Badge Assessment and Single Point of Information.<br></div>
<div>&nbsp;</div>
<div>By locating these services together in a custom designed building we hope to achieve our mission to contribute to Better Lives for the people of Leeds by:<br></div>
<ul><li>Providing universal information and guidance</li>
<li>Developing more personalised services</li>
<li>Providing service users with more choice and control</li>
<li>Delivering more early interventions and preventions</li>
<li>Strengthening partnership working between services</li>
<li>Co-ordinating the public and private offer</li>
<li>Improving service productivity, quality, innovation&nbsp;and value for money</li>
<li>Promoting Assistive Technology to citizens and professionals</li></ul>
<div>We also have exciting plans to further develop the services on offer at Assisted Living Leeds as part of phase 2.&nbsp; Please keep checking the website for exciting future announcements. &#8203;</div>
<p>&#8203;&#8203;&#8203;&#8203;</p>
<p><img alt="panoramic image of the assisted living building" src="http://www.leeds.gov.uk/c/PublishingImages/assistedLiving/upload/ALLPanoramic-(2).jpg" style="margin: 5px"><br><br></p></div>
{% endblock %}

{% block pageContent %}


{% endblock %}



{% block sectionOneRightHandColumn %}
  <hr class="ms-rteElement-spacer" />
<div class="sectionSubsite">
<h2>Contact us</h2>
<a href="">Email us</a>
<p>Tel: 0113 378 3300</p>
<a href=""><i class="fa fa-twitter" aria-hidden="true"></i> Follow us on twitter</a>
</div>


<div class="sectionSubsite">
<h2>External Links</h2>
<a href="" rel="external">Leeds City Council</a>
<a href="" rel="external">Leeds Directory</a>
<a href="" rel="external">Ask Sara</a>
<a href="" rel="external">ALL INN Innovation Lab Blog</a>
<a href="" rel="external">Family Information Service ​</a>

</div>





  <hr class="ms-rteElement-spacer" />
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}