{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Adopt 4 Leeds Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/adopt4leeds/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
 <div class="heroBanner" style="background: transparent url(public/adopt4leeds/images/iStock_000014470953Medium-R.jpg) no-repeat scroll 50% 0px;">
  <div class="container-fluid">
    <p class="lead">Start your adoption journey today</p></div>
</div>
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
     <hr class="ms-rteElement-spacer" />
<article>    

    <div class="media-container">
    <p>
       
        <a class="captions" href="/public/captions/captions-order-of-content.xml" style="display:none;">Captions</a>
        <a href="https://www.youtube.com/embed/taa-H3XVka0" data-youtube-player="off">This is a youtube related link</a>
    </p>
</div> 


<iframe width="100%" height="500" src="https://www.youtube.com/embed/taa-H3XVka0" frameborder="0" allowfullscreen></iframe>
       
    <p class="lead">
      If you are interested in applying to adopt you should attend one of our adoption information events.​​​​​​​​​​​​​​​​​​​​
    </p>

    		    <p>Come along to our next adoption information evening to find out more and have your questions answered. The evening will last approximately 2 hours and there's no need to book. At the end of the evening you can collect a request for initial home visit form which you should complete if you'd like to continue the adoption process with us.</>

<p>Our adoption information evenings are presented by experienced members of our team. They will give you more information about adoption, describe how the application process works and tell you more about the support we provide. You will also hear from experienced adoptive parents about what it's like to adopt with us. It's a good opportunity to ask us any questions you may have - the evening will help you decide if adoption is right for you.</p>

<p>You should make sure you have read this website thoroughly before attending an Information Evening, especially the information about the children we currently need families for. As if you are unable to provide a home for the children who need adoption we may not be able to take up your application at this time.</p>

    
          </article>

<hr class="ms-rteElement-spacer" />         
   
<h2>Adoption Information Evening</h2>

<div class="panel text-center">
    <p>​This information evening will take place on, Tuesday</p>
    <em>21st March 2017</em>
    <p>​At Leeds City Council offices, Kernel House, Killingbeck Drive, Leeds, LS14 6UF.
</div>
<p>​Kernel House is located on the ASDA shopping estate on York Road, Seacroft. Car parking is available outside the building but spaces are limited. The venue is accessible from a variety of bus routes such as; 64/64A, 843, 56, 402, 840.</p>
<p>
​To access Kernel House turn onto Killingbeck Drive from York Road and turn Left at the bend in the road. The car park is your second right. It can be misleading as the first building has fostering and adoption advertising on but this is an Adult Social Care Building so please do not park here.</p><p>
​Please arrive for 6.30pm the evening will finish at approximately 8.30pm. There will be a formal presentation from social workers with a question and answer session and a film of Leeds adoptive parents.​​​​​​​</p>

     <h2>Compliments, feedback or complaints</h2>      
     <p>If you want to tell us about something we have done well, something you want to feedback, suggestions on how we might do things better or something you want to make a complaint about, please visit the link below.</p>    

     <a class="btn btn-primary" href="http://www.leeds.gov.uk/adopt4leeds/Pages/Adoption-Complaints,-compliments-and-feedback.aspx">find out more about Compliments, feedback or complaints</a>

    <hr class="ms-rteElement-spacer" />

{% endblock %}



{% block sectionOneRightHandColumn %}
     <hr class="ms-rteElement-spacer" />
<div class="panel">
    <h2><i class="fa fa-phone" aria-hidden="true"></i>Leeds City Council Adoption Service Duty and Advice line</h2>
    
     <p>For friendly advice and support call
<strong>0113 378 3535</strong></p>
    <a target="_blank" href="mailto:AdoptionDutyDesk@leeds.gov.uk" rel="external">Email us</a> </div>

    <div class="promo" style="background:url(/public/images/DAD_BOY_READING.JPG) no-repeat">
    <a href="http://www.bbc.co.uk"> <span>Promo - click on me to go somewhere  </span>  </a>
</div>  

    <blockquote class="blockquote">
  <p class="m-b-0">it's been long and you have to have stickability, but the rewards are well worth it. The support from our workers was invaluable and we were guided through each stage. If we'd had to do it all over again, I'd do it ten times to get there.</p>
  <footer class="blockquote-footer"><cite title="Source Title">Adoptive parent</cite></footer>
</blockquote>

{% endblock %}

     {% block sectionOneHalf %}



     {% endblock %}

    {% block sectionOneHalfRight %}
    {% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reusablecontent_footer %}
     {% include "includes/reusable-content-footer.html" %}
 {% endblock %}