<div class="footer-social">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="socialBookmarks">
                    <h3>Connect with us:</h3>
                    <ul>   
                        <li>
                            <a rel="external" href="https://www.facebook.com/Leedscouncil/" class="facebook">
                                <span class="sr-only">Visit or facebook page (External link)</span>
                            </a>
                        </li>
                        <li>
                            <a rel="external" href="https://twitter.com/leedscc_help" class="twitter">
                                <span class="sr-only">Visit our twitter page (External link)</span>
                            </a>
                        </li>
                        <li>
                            <a rel="external" href="https://www.youtube.com/user/Leedscouncil" class="youtube">
                                <span class="sr-only">Visit our You tube page (External link)</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="clear"></div>
            </div>        
        </div>
    </div>
</div>
<div class="footer-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <nav>
                    <ul>
                        <li><a href="/foster4leeds2017">Home</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">About us</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">Want to foster?</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">Why choose us?</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">Transfer to us</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">Upcoming events</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">Contact us</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">Privacy policy</a></li>
                        <li><a href="/foster4leeds2017/why-choose-us">Accessibility</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">
                <div class="footer-logos">
                    <a href="#"><img class="lcc-logo" src="/public/foster4leeds2017/images/lcc_logo.svg" alt="" /></a>
                    <a href="#"><img class="cfl-logo" src="/public/foster4leeds2017/images/cfl_logo.svg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Leeds City Council 2017</p>
            </div>
        </div>
    </div>
</div>

