<div id="contact" class="footer-contact">
    <div class="container-fluid">
        <div class="row">
            <h2 class="sr-only">Contact us</h2>
            <div class="col-sm-6 col-md-3 contact-details">
                <h3>Call us</h3>
                <p class="contact-phone">0113 378 3538
                <span>(Monday to Friday, 9am to 5pm)</span></p>
            </div> 
            <div class="col-sm-6 col-md-3 contact-details">
                <h3>Email us</h3>
                <p class="contact-email"><a href="mailto:foster4leeds@leeds.gov.uk">foster4leeds@leeds.gov.uk</a></p>
            </div>   
            <div class="col-sm-6 col-md-3 contact-details">
                <h3>Write to us</h3>
                <p class="contact-address">Children's Social Work Services<br>
                P.O. Box 837<br>
                Leeds city council<br>
                LS1 9PZ</p>
            </div> 
            <div class="col-sm-6 col-md-3 contact-details">
                <h3>Connect with us</h3>
                <div class="socialBookmarks">
                    <ul>   
                        <li>
                            <a rel="external" href="https://www.facebook.com/LdsFosteringAdv/" class="facebook">
                                <span class="sr-only">Our Facebook page (External link)</span>
                            </a>
                        </li>
                        <li>
                            <a rel="external" href="https://twitter.com/ldsfosteringadv" class="twitter">
                                <span class="sr-only">Our Twitter page (External link)</span>
                            </a>
                        </li>
                        <li>
                            <a rel="external" href="https://www.youtube.com/watch?v=1irTQW1DMzQ&list=PLggQFjpTLgpLwenUnqRJzJ-3C5NDdOS2w" class="youtube">
                                <span class="sr-only">Our Youtube page (External link)</span>
                            </a>
                        </li>      
                    </ul>
                </div>
            </div>  
        </div>
    </div>
</div>
<div class="footer-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <nav>
                    <ul>
                        <li><a href="/foster4leeds2017">Home</a></li>
                        <li><a href="/foster4leeds2017/what-is-fostering.html">What is fostering?</a></li>
                        <li><a href="/foster4leeds2017/why-foster-with-leeds-city-council/why-foster-with-leeds-city-council.html">Why foster with us?</a></li>
                        <li><a href="/foster4leeds2017/who-can-be-a-foster-carer.html">Who can be a foster carer?</a></li>
                        <li><a href="/foster4leeds2017/how-to-become-a-foster-carer.html">How to become a foster carer</a></li>                     
                        <li><a href="/foster4leeds2017/who-can-I-foster/who-can-I-foster.html">Who can I foster?</a></li>                        
                        <li><a href="/foster4leeds2017/existing-foster-carers.html">Existing foster carers</a></li>
                        <li><a href="/foster4leeds2017\Friends-and-family-fostering/Friends-and-family-fostering-kinship-care.html">Friends and family fostering</a></li>  
                        <li><a href="/foster4leeds2017/who-can-I-foster/who-can-I-foster.html">Who can I foster?</a></li>  
                        <li><a href="/foster4leeds2017/why-foster-with-leeds-city-council/see-what-carers-and-young-people-say.html">Hear what our foster carers have to say</a></li> 
                        <li><a href="/foster4leeds2017/already-a-foster-carer-with-an-independent-agency-or-other-council.html">Already a foster carer with an independent agency or other council</a></li>                                               

                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-md-3 footer-logos">
                <ul>
                    <li><a href="http://www.leeds.gov.uk"><img class="img-responsive lcc-logo" src="/public/foster4leeds2017/images/lcc_logo.svg" alt="Leeds city council logo" /></a></li>
                    <li><a href="http://www.leeds.gov.uk/childfriendlyleeds/Pages/default.aspx"><img class="img-responsive cfl-logo" src="/public/foster4leeds2017/images/cfl_logo.svg" alt="Child Friendly Leeds logo" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 footer-nav-secondary">
                <ul>
                    <li><a href="http://www.leeds.gov.uk/pages/PrivacyStatement.aspx">Privacy statement</a></li>
                    <li><a href="http://www.leeds.gov.uk/pages/Accessibility.aspx">Accessibility</a></li>
                </ul>
            </div>
            <div class="col-xs-6 footer-copyright">
                <p>Copyright © Leeds City Council 2017</p>
            </div>
        </div>
    </div>
</div>