<div class="footer-social">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="socialBookmarks">
                    <h3>Connect with us:</h3>
                    <ul>   
                        <li>
                            <a rel="external" href="https://www.facebook.com/LdsFosteringAdv/" class="facebook">
                                <span class="sr-only">Visit or facebook page (External link)</span>
                            </a>
                        </li>
                        <li>
                            <a rel="external" href="https://twitter.com/foster4leeds" class="twitter">
                                <span class="sr-only">Visit our twitter page (External link)</span>
                            </a>
                        </li>
                        <li>
                            <a rel="external" href="https://www.youtube.com/watch?v=1irTQW1DMzQ&list=PLggQFjpTLgpLwenUnqRJzJ-3C5NDdOS2w" class="youtube">
                                <span class="sr-only">Visit our Youtube page (External link)</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <div class="clear"></div>
            </div>        
        </div>
    </div>
</div>
<div class="footer-nav">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <nav>
                    <ul>
                        <li><a href="/foster4leeds2017">Home</a></li>
                        <li><a href="/foster4leeds2017/what-is-fostering.html">What is fostering?</a></li>
                        <li><a href="/foster4leeds2017/why-foster-with-leeds-city-council/why-foster-with-leeds-city-council.html">Why foster with Leeds city council?</a></li>
                        <li><a href="/foster4leeds2017/who-can-be-a-foster-carer.html">Who can be a foster carer</a></li>
                        <li><a href="/foster4leeds2017/how-to-become-a-foster-carer.html">How to become a foster carer</a></li>                     
                        <li><a href="/foster4leeds2017/who-can-I-foster/who-can-I-foster.html">Who can I foster?</a></li>                        
                        <li><a href="/foster4leeds2017/existing-foster-carers.html">Existing foster carers</a></li>                                                
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Accessibility</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">
                <div class="footer-logos">
                    <a href="http://www.leeds.gov.uk"><img class="lcc-logo" src="/public/foster4leeds2017/images/lcc_logo.svg" alt="Leeds city council logo" /></a>
                    <a href="http://www.leeds.gov.uk/childfriendlyleeds/Pages/default.aspx"><img class="cfl-logo" src="/public/foster4leeds2017/images/cfl_logo.svg" alt="Child Friendly Leeds logo" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright © Leeds City Council 2017</p>
            </div>
        </div>
    </div>
</div>

