<div class="panel img full register alt">
    <div class="container-fluid">
    <div class="img-container right col-md-6" style="background-image: url('/public/foster4leeds2017/images/f4l-4.jpg');">
    </div>
    <div class="col-md-6 content">
        <h2 class="panel-promo_title">Interested in fostering?</h2>
        <p class="panel-promo_text">Register your interest with us and a member of our team will get in touch and answer any questions you may have.</p>
        <a class="btn btn-primary btn-arrow">Register your interest</a>
    </div>
    <div class="clearfix"></div>
    </div>
</div>