<div class="panel img">
    <div class="img-container right col-md-5" style="background-image: url('/public/foster4leeds2017/images/f4l-5.jpg');">
    </div>
    <div class="col-md-7 content">
        <h2>What is fostering?</h2>
        <p>Fostering is when children who aren’t able to live with their birth families are placed in a safe and loving family home on a temporary basis.</p>
        <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/what-is-fostering" class="btn btn-primary btn-arrow">Find out more <span class="sr-only">about what fostering is</span></a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel img">
    <div class="img-container right col-md-5" style="background-image: url('/public/foster4leeds2017/images/f4l-6.jpg');">
    </div>
    <div class="col-md-7 content">
        <h2>Why foster with us?</h2>
        <p>There are many reasons to foster with Leeds City Council, including financial support, allowances, a comprehensive training package, your own support worker and gym membership.</p>
        <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/why-foster-with-leeds-city-council" class="btn btn-primary btn-arrow">Find out more <span class="sr-only">about fostering with is</span></a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel img">
    <div class="img-container right col-md-5" style="background-image: url('/public/foster4leeds2017/images/f4l-2.jpg');">
    </div>
    <div class="col-md-7 content">
        <h2>Who can be a foster carer?</h2>
        <p>You don’t need any special qualifications to be a foster carer.</p>
        <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/who-can-be-a-foster-carer" class="btn btn-primary btn-arrow">Find out more <span class="sr-only">about who can be a foster carer</span></a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel img">
    <div class="img-container right col-md-5" style="background-image: url('/public/foster4leeds2017/images/f4l-4.jpg');">
    </div>
    <div class="col-md-7 content">
        <h2>How to become a foster carer</h2>
        <p>Once you’ve registered your interest you will be guided through the application process. This usually takes about six months.</p>
        <a href="/foster4leeds2017/Find-out-about-fostering-with-Leeds-City-Council/how-to-become-a-foster-carer" class="btn btn-primary btn-arrow">Find out more <span class="sr-only">about how to become a foster carer</span></a>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel img">
    <div class="img-container right col-md-5" style="background-image: url('/public/foster4leeds2017/images/f4l-3.jpg');">
    </div>
    <div class="col-md-7 content">
        <h2>Who can I foster?</h2>
        <p>Children and young people of all ages need foster carers and we’ll ask you if you have an age preference as part of your assessment.</p>
        <a href="/foster4leeds2017/who-can-I-foster/who-can-I-foster" class="btn btn-primary btn-arrow">Find out more <span class="sr-only">about who you can foster</span></a>
    </div>
    <div class="clearfix"></div>
</div>