<div class="panel-event-list">
    <h2>Upcoming events</h2>
    <p class="text">Come along and have a coffee with one of our foster carers and a member of staff from the recruitment team, they can anser all your questions.</p>
    <div class="panel img panel-event">
    <div class="container-fluid">
    <div class="img-container col-sm-6 col-md-3" style="background-image: url('/public/foster4leeds2017/images/f4l-2.jpg');">
    </div>
    <div class="col-sm-6 col-sm-offset-6 col-md-offset-3 col-md-3 panel-event-date">
        <div class="panel-event-date-wrapper">
            <p class="panel-event-date-details">
                <span>TUES</span>
                <span class="big-number">27</span>
                <span>OCT 2017</span>
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-md-offset-6 content panel-event-content">
        <h3 class="panel-event-title">Information event</h3>
        <p class="panel-event-title">Event space area at the bottom of the indoor market, near the food outlets</p>
        <div class="panel-event-info">
            <p class="panel-event-info-location"><strong>Location</strong> <a href="https://www.google.co.uk/maps/place/Leeds+Kirkgate+Market,+Kirkgate,+Leeds+LS2/@53.7971889,-1.5410197,17z/data=!3m1!4b1!4m5!3m4!1s0x48795c19fbb16a6b:0x6a81ca2e80255197!8m2!3d53.7972642!4d-1.5387237">Leeds Kirkgate Market</a></p>
            <p class="panel-event-info-time"><strong>Time</strong> Drop in from 11am to 3pm</p>
            <p class="panel-event-info-date"><strong>Date</strong> Tuesday 27th October 2017</p>
        </div>
    </div>
    <div class="clearfix"></div>
    </div>
</div>
<div class="panel img panel-event">
    <div class="container-fluid">
    <div class="img-container col-sm-6 col-md-3" style="background-image: url('/public/foster4leeds2017/images/f4l-3.jpg');">
    </div>
    <div class="col-sm-6 col-sm-offset-6 col-md-offset-3 col-md-3 panel-event-date">
        <div class="panel-event-date-wrapper">
            <p class="panel-event-date-details">
                <span>WED</span>
                <span class="big-number">6</span>
                <span>DEC 2017</span>
            </p>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-md-offset-6 content panel-event-content">
        <h3 class="panel-event-title">Fostering children with complex needs / disabilities</h3>
        <p class="panel-event-title">Free on-site parking</p>
        <div class="panel-event-info">
            <p class="panel-event-info-location"><strong>Location</strong> <a href="https://www.google.co.uk/maps/place/Village+Hotel+Leeds+North/@53.834195,-1.589756,15z/data=!4m5!3m4!1s0x0:0xf7d7911c75845ff6!8m2!3d53.834195!4d-1.589756">Village Hotel North, 186 Otley Rd, Headingley, Leeds LS16 5PR</a></p>
            <p class="panel-event-info-time"><strong>Time</strong> 6pm to 8:30pm</p>
            <p class="panel-event-info-date"><strong>Date</strong> Wednesday 6th December 2017</p>
        </div>
    </div>
    <div class="clearfix"></div>
    </div>
</div>
</div>