<div class="section-promo bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="section-promo_content col-sm-6">
                <p class="quote">“You will have to change and adapt to understand some behaviours. Getting through to children and helping them heal is the real reward.”</p>
            </div>
            <div class="section-promo_img col-sm-6">
                <img src="/public/foster4leeds2017/images/f4l-people-1.png" class="img-responsive" alt="" />
            </div>
        </div>
    </div>
</div>
