<div class="section-promo bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="section-promo_content col-sm-6">
                <h2 class="section-promo_title">Want to know more?</h2>
                <p class="section-promo_text">Register your interest with us and a member of our team will get in touch and answer any questions you may have.</p>
                <a class="btn btn-primary btn-arrow">Register your interest</a>
            </div>
            <div class="section-promo_img">
                <img src="/public/foster4leeds2017/images/f4l-people-1.png" class="img-responsive" alt="" />
            </div>
        </div>
    </div>
</div>
