{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
<div class="groupPromo">
  <div class="listWebpart">
    <ul>
      <li>
        <a href="adopt4leeds.html">
    <h3>adopt 4 leeds</h3></a>
      </li>
      <li>
        <a href="bipcleeds.html" >
     <h3>bipcleeds</h3></a>
      </li>
      <li>
        <a  href="bitmo.html" >
      <h3>bitmo</h3></a>
      </li>
      <li>
        <a  href="bsc.html">
       <h3>bsc</h3></a>
      </li>
      <li>
        <a  href="childfriendlyleeds.html">
   <h3>Child Friendly Leeds</h3></a>
      </li>
    <li>
        <a  href="civicenterprise.html">
       <h3>Civic enterprise</h3></a>
      </li>

        <li>
        <a  href="foster4leeds.html">
     <h3>Foster4leeds</h3></a>
      </li> 
            <li>
        <a href="leedsenterprisezone.html">
  <h3>leeds enterprise zone</h3></a>
      </li> 

            <li>
        <a  href="leedsmarkets.html">
<h3>Leeds Markets</h3></a>
      </li> 
            <li>
        <a  href="leedspathways.html">
<h3>Leeds Pathways</h3></a>
      </li>

                  <li>
        <a  href="museumsandgalleries.html">
<h3>Museums and Galleries</h3></a>
      </li>

    </ul>
    <div class="clearfix"></div>
  </div>
</div>
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
{% endblock %}



{% block sectionOneRightHandColumn %}
{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}

{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}
sectionfive
{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}