{% extends "layout_multi_sections_home.html" %}

{% block page_title %}
	Home Page
{% endblock %}


  {% block css_register %}
         <link href="{{ asset_path }}/bipcLeeds/stylesheets/application.css" rel="stylesheet">
   {% endblock %}

 

{% block header %}
{% endblock %}

 {% block main_nav %}
  {% include "includes/main_nav.html" %}
 {% endblock %}



 {% block sectionOneTop %}
{% endblock %} 

{% block sectionOneFull%}
{% endblock %}

{% block sectionOneFullBottom %}{% endblock %}


 {% block breadcrumb %}
 {% endblock %}

{% block sectionOneContent %}
{% endblock %}

{% block pageContent %}
     <hr class="ms-rteElement-spacer" />
<p class="lead">
The Business and IP Centre Leeds is a one-stop source for all your business and intellectual property needs. We draw on a wide range of resources and have extensive experience in dealing with business and intellectual property enquiries. We are members of the Europe-wide PATLIB network, the British Library's Business & IP Centre network, and work closely with the West and North Yorkshire Chamber of Commerce and other partners.

</p>

<h2>Business Information</h2>
<p>Whether you are taking your first steps in setting up in business, targeting new customers, increasing your knowledge of competitors or looking for new partners or markets we have a wealth of information at our fingertips</p>

<h2>Protecting your products and services</h2> <p>We can guide you through the procedures required to help you protect your products and services using patents, trade marks, registered designs and copyright</p>
<h2>Events and workshops</h2><p>We offer a range of services, activities and events through which you can access specialist information.<br></p>
 <hr class="ms-rteElement-spacer" />
<iframe width="100%" height="500" src="https://www.youtube.com/embed/o3JNmgCcjjE?list=PLgTCkoOXZgx8nr8FddslU1NpUArd4VseX" frameborder="0"></iframe>
     <hr class="ms-rteElement-spacer" />
{% endblock %}



{% block sectionOneRightHandColumn %}
     <hr class="ms-rteElement-spacer" />
<div class="sectionSubsite">
    <h2><i class="fa fa-phone" aria-hidden="true"></i>Contact us</h2>
    
     <p>
       
       Telephone <br/>
<strong>0113 3786010</strong>
<br />
Central Library, Calverley Street, <br />
<strong>Leeds, LS1 3AB</strong>

</p>
    <a target="_blank" href="mailto:bipcleeds@leeds.gov.uk" rel="external">Email us</a> </div>

    <blockquote class="blockquote">
  <p class="m-b-0">The centre gave me a broad knowledge of business skills that I can apply to my business</p>
  <footer class="blockquote-footer"><cite title="Source Title">R Jones</cite></footer>
</blockquote>
<div class="sideNav">
  <ul class="nav">
    <li> <a class="item active" href="" title="Ice Rink" id="">Business start up</a> </li>
    <li> <a class="item" href="" title="Assessibility skating" id="">Starting a business</a> </li>
    <li>
      <a class="item" href="">Choosing premises</a> </li>
  </ul>
</div>

<div class="related">
  <ul class="nav">
    <li><h3>See Also</h3></li>
    <li><a class="item" href="" title="Assessibility skating" id="">Ebooks</a> </li>
    <li>
      <a class="item" href="">Cobra</a> </li>
      <li><a class="item" href="" title="Assessibility skating" id="">Street trading Leeds </a> </li>
      <li><a class="item" href="" title="Assessibility skating" id="">Licenses in Leeds</a> </li>
      <li><a class="item" href="" title="Assessibility skating" id="">Register a food business</a></li>
  </ul>
</div>

{% endblock %}

{% block sectionOneThirdCol1 %}
 {% endblock %}

 {% block sectionOneThirdCol2 %}
 {% endblock %}

{% block sectionOneThirdCol3 %}
 {% endblock %}


{% block sectionTwoTop %}
{% endblock %} 

{% block sectionTwoFull%} 
{% endblock %}

{% block sectionTwoContent %}
{% endblock %}

{% block sectionTwoRightHandColumn %}
{% endblock %}

{% block sectionTwoThirdCol1 %}
 {% endblock %}

 {% block sectionTwoThirdCol2 %}
 {% endblock %}

{% block sectionTwoThirdCol3 %}
 {% endblock %}


{% block sectionThreeTop %}
{% endblock %} 

{% block sectionThreeFull%}
{% endblock %}

{% block sectionThreeContent %}
{% endblock %}

{% block sectionThreeRightHandColumn %}
{% endblock %}

{% block sectionThreeThirdCol1 %}
 {% endblock %}

 {% block sectionThreeThirdCol2 %}
 {% endblock %}

{% block sectionThreeThirdCol3 %}
 {% endblock %}


{% block sectionFourTop %}
{% endblock %} 

{% block sectionFourFull%}
{% endblock %}

{% block sectionFourContent %}
{% endblock %}

{% block sectionFourRightHandColumn %}
{% endblock %}

{% block sectionFourThirdCol1 %}
 {% endblock %}

 {% block sectionFourThirdCol2 %}
 {% endblock %}

{% block sectionFourThirdCol3 %}
 {% endblock %}



{% block sectionFiveTop %}
{% endblock %} 

{% block sectionFiveFull%}

{% endblock %}

{% block sectionFiveContent %}
{% endblock %}

{% block sectionFiveRightHandColumn %}
{% endblock %}

{% block sectionFiveThirdCol1 %}
 {% endblock %}

 {% block sectionFiveThirdCol2 %}

 {% endblock %}

{% block sectionFiveThirdCol3 %}
 {% endblock %}

  {% block footer_nav %}
   {% include "includes/footer_nav.html" %}
 {% endblock %}

 {% block reuserblecontent_footer %}
     {% include "includes/re-userble-content-footer.html" %}
 {% endblock %}