
                        
                   <ul>
                       <li><a href="/leedsmarkets/index.html" class="selected">Home</a></li>
                       <li><a href="/leedsmarkets/index.html">Markets</a>
                       <ul>
                           <li><a href="/leedsmarkets/Kirkgate.html">Kirkgate Market</a></li>
                           <li><a href="/leedsmarkets/Otley.html">Otley Market</a></li>
                       </ul>
                       </li>
                       <li><a href="/leedsmarkets/tradeonourmarkets.html">Trade ON Our Markets</a></li>
                       <li><a href="/leedsmarkets/Venuehire.html">Venue Hire</a></li>

                   </ul>
                          
