
                        
                   <ul>
                       <li><a href="/leedsMarkets/index.html" class="selected">Home</a></li>
                       <li><a href="/leedsMarkets/Markets.html.html">Markets</a>
                       <ul>
                           <li><a href="/leedsMarkets/Kirkgate.html">Kirkgate Market</a></li>
                           <li><a href="/leedsMarkets/Otley.html">Otley Market</a></li>
                       </ul>
                       </li>
                       <li><a href="/leedsMarkets/tradeonourmarkets.html">Trade ON Our Markets</a></li>
                       <li><a href="/leedsMarkets/Venuehire.html">Venue Hire</a></li>

                   </ul>
                          
